.uk-form-custom .uk-select {
    height: 100%;
}

.uk-form-ribbon {
    position: static;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
    height: auto;
    padding: 10px 20px;
    .font-size(28);
    line-height: 1;
    font-weight: 600;
    transform: rotate(0) translate(0, 0);
    margin-bottom: 30px;

    @media (min-width: @breakpoint-small) {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(35deg) translate(50px, -85px);
        height: 100px;
        margin-bottom: 0;
    }

    &--new {
        min-width: 250px;
        .font-size(21);
        font-weight: 400;
        background-color: @global-primary-color-bright;
    }
}

.uk-form-submit {
    position: absolute;
    right: 0;
    bottom: -31px;
    left: 0;
    text-align: center;

    .uk-button {
        min-width: 160px;
    }
}