.blog-article {
    h2 {
        margin-bottom: 10px;
    }

    h3 {
        .font-size(26);
        margin-bottom: 25px;
        padding-right: 50px;
        padding-left: 50px;
        color: @global-primary-color;

        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            max-width: 355px;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            background-color: @global-primary-color;
        }
    }

    h4 {
        clear: both;
        .font-size(18);
        font-weight: 600;
        margin-bottom: 20px;
        color: @global-primary-color;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 5px;
        }
    }

    p {
        .font-size(15);
        line-height: 1.9;
        margin-bottom: 40px;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 20px;
        }
    }

    &__body {
        max-width: 940px;
        margin-right: auto;
        margin-left: auto;

        img {
            display: block;
            width: 100%;
            margin-right: auto;
            margin-left: auto;
            object-fit: cover;
            margin-bottom: 20px;

            @media (min-width: @breakpoint-small) {
                clear: none;
                float: right;
                max-width: 50%;
                margin-left: 40px;
                margin-bottom: 0;
            }

            @media (min-width: @breakpoint-large) {
                max-width: 460px;
                margin-top: -30px;
                margin-right: -100px;
            }
        }
    }

    &__date {
        max-width: 88px;
        padding: 6px;
        margin-right: auto;
        margin-left: auto;
        .font-size(15);
        font-weight: 600;
        background-color: @global-color;
        color: @global-primary-color-bright;
    }

    &__intro {
        .font-size(20);
        max-width: 720px;
        margin-right: auto;
        margin-left: auto;
        padding: 40px 0 20px;

        @media (min-width: @breakpoint-small) {
            .font-size(25);
            padding: 40px 0;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 450px;
        margin-right: auto;
        margin-left: auto;

        &:after {
            content: "";
            display: block;
            height: 1px;
            width: 100%;
            margin-top: 20px;
            margin-right: auto;
            margin-left: auto;
            background-color: @global-primary-color;
        }

        h2 {
            .font-size(29);
        }
    }
}