include ../social/social

mixin section-blog
    section.uk-section.section-blog#section-blog(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container.uk-position-relative
            .uk-flex.uk-flex-middle.title
                .uk-text-muted-light.uk-text-left(class="uk-width-1-3@s uk-visible@s")
                    span(data-uk-icon="logo-mini")

            .blog-article
                .uk-text-center
                    h2 Blogv title to go here

                    h3 Sub heading style here
                    
                    .blog-article__date 22.07.19

                    .blog-article__intro.uk-margin-bottom Pstias excepturi sint occaecati cupiditate non provide similique sunt in culpa qui officia deserutnt mollitia animi, id est lab orum et dolorum fugerharum quidem rerum.

                .blog-article__body
                    h4 Nam libero tempore, cum soluta
                    img.blog-article__image(src="img/clients.jpg" srcset="img/clients@2x.jpg 2x" alt="")
                    p Nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus mai Nam libero tempore, cum soluta nobis est eligendi optio cu

                    h4 Nam libero tempore, cum soluta
                    p Nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus mai Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.

                    h4 Nibero Nam libero temp m so lutluta
                    p mpore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus mai Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus mai Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil im

                    h4 Bero Nam libero teo teNibero Nam libero temp m so lutltluta
                    p nis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus mai Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut offatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sndis voluptatibus maie.

                    
                ul.uk-grid.uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-3@s')
                    li.uk-margin-large-top.uk-margin-large-bottom
                        img(src="img/clients.jpg" srcset="img/clients@2x.jpg 2x" alt="")
                    li.uk-margin-large-top.uk-margin-large-bottom
                        img(src="img/clients.jpg" srcset="img/clients@2x.jpg 2x" alt="")
                    li.uk-margin-large-top.uk-margin-large-bottom
                        img(src="img/clients.jpg" srcset="img/clients@2x.jpg 2x" alt="")

                .blog-article__social.uk-margin-medium-bottom
                    h2.uk-margin-bottom Share this blog
                    .uk-margin-bottom
                        +social

                .uk-text-center
                    a(href="#").uk-button.uk-button-large.slider-blogs__more Back to All