{#:::: Default Page Template ::::#}

{% extends "_layout" %}

{% set templateName = "temp-default" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    <main class="main">

	    {# Content Blocks #}

	    {% include '_inc/_content-blocks' %}

	    {# Fixed Footer Blocks (from home page) #}

	    {% set entry = craft.entries()
		    .id(2)
		    .one()
		%}

		{% if entry.contentBlocks|length %}

			{% for block in entry.contentBlocks.all() %}

				{% set currentLoop = loop.index %}
				{% set nextLoop = loop.index + 1 %}

				{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

				{% switch block.type %}

					{% case "newsletterSignup" %}

						{% include '_inc/_blocks/_newsletterSignup' with blockVars %}

					{% case "whyBookWithUs" %}

						{% include '_inc/_blocks/_whyBookWithUs' with blockVars %}

					{% case "testimonials" %}

						{% include '_inc/_blocks/_testimonials' with blockVars %}

					{% case "blogList" %}

						{% include '_inc/_blocks/_blogList' with blockVars %}

					{% default %}

				{% endswitch %}

			{% endfor %}

		{% endif %}

	    {# Search Banner #}

        {% include '_inc/_quick-search' %}

    </main>

{% endblock %}