{# Holiday List Template #}
{% spaceless %}

{% extends "_layout" %}

{% set templateName = "temp-default" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% set related = null %}
{% set limit = 64 %}
{% set category = null %}
{% set location = null %}

{% set relationParam = ['or'] %}

{% if craft.app.request.getParam('location')|length  %}

    {% set location = craft.categories()
        .slug(craft.app.request.getParam('location'))
        .one()
    %}

    {% set relationParam = relationParam|merge([{ targetElement: location }]) %}

	{% set category = location %}

{% endif %}

{% set type = null %}

{% if craft.app.request.getParam('type')|length %}

    {% set type = craft.categories()
        .slug(craft.app.request.getParam('type'))
        .one()
    %}

    {% set relationParam = relationParam|merge([{ targetElement: type }]) %}

	{% if category == null %}

		{% set category = type %}

	{% endif %}

{% endif %}

{% set specialist = null %}

{% if craft.app.request.getParam('specialist-tour')|length %}

    {% set specialist = craft.categories()
        .slug(craft.app.request.getParam('specialist-tour'))
        .one()
    %}

    {% set relationParam = relationParam|merge([{ targetElement: specialist }]) %}

	{% if category == null %}

		{% set category = specialist %}

	{% endif %}

{% endif %}

{% if relationParam != null %}

    {% paginate craft.entries
        .section('holidays')
        .relatedTo(relationParam)
        .limit(limit)
    as pageInfo, holidays %}

{% else %}
    
    {% paginate craft.entries
        .section('holidays')
        .limit(limit)
    as pageInfo, holidays %}

{% endif %}

{# Intro #}

{% set intro = null %}

{% if category != null and category.intro|length %}

	{% set intro = category.intro %}

{% elseif entry.intro|length %}

	{% set intro = entry.intro %}

{% elseif defaults.intro|length %}

	{% set intro = defaults.intro %}

{% endif %}

{# Banner Image #}

{% set asset = null %}

{% if category != null and category.bannerImage|length %}

	{% set asset = category.bannerImage.one() %}

{% elseif entry.img|length %}

	{% set asset = entry.img.one() %}

{% elseif defaults.bannerImage|length %}

	{% set asset = defaults.bannerImage.one() %}

{% endif %}

{# Meta Overwrites #}

{% if category != null %}

	{% if category.seoMetaTitle|length %}

		{% set metaTitleOveride = category.seoMetaTitle %}
		{% set sharingTitleOveride = category.seoMetaTitle %}

	{% else %}
		
		{% set metaTitleOveride = "Golf Holiday Shop - " ~ category.title %}
		{% set sharingTitleOveride = "Golf Holiday Shop - " ~ category.title %}

	{% endif %}

	{% if category.seoMetaDescription|length %}

		{% set metaDescOveride = category.seoMetaDescription %}
		{% set sharingDescOveride = category.seoMetaDescription %}

	{% elseif intro != null %}
		
		{% set metaDescOveride = intro|striptags|chop(limit=158, unit='c') %}
		{% set sharingDescOveride = intro|striptags|chop(limit=158, unit='c') %}

	{% endif %}

	{% set sharing = {
	    mode: 'crop',
	    width: 1200,
	    height: 630,
	    quality: 70,
	    position: 'center-center'
	} %}

	{% if category.sharingImage|length %}

		{% set sharingImageOveride = category.sharingImage.one().getUrl(sharing) %}

	{% elseif asset != null %}

		{% set sharingImageOveride = asset.getUrl(sharing) %}

	{% endif %}

{% endif %}

{% endspaceless %}
{% block content %}

    <main class="main">

	    {# Banner #}

		<section class="section-intro-landing uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;" id="scrollTo--1">

			{# Banner Image #}

			{% if asset != null %}

				{% set banner = {
				    mode: 'crop',
				    width: 2000,
				    height: 545,
				    quality: 70,
				    position: 'center-center'
				} %}
				
				<img class="section-intro-landing__image" src="{{ asset.getUrl(banner) }}" srcset="{{ asset.getUrl() }} 2x" alt="All inclusive holidays" style="width: 100%;">

			{% endif %}

		    <div class="uk-container">

		        <div class="section-intro-landing__inner uk-position-absolute uk-position-top-left">

		            <div class="section-intro-landing__title uk-padding-small uk-background-primary uk-light">

		                <div class="uk-width-1-1 uk-flex">

		                    <div class="uk-width-1-4"><span class="uk-margin-right" data-uk-icon="brand-icon"></span></div>

	                    	{% set heading = 'Holidays' %}

							{% if category != null and category.title|length %}

								{% set heading = category.title %}

							{% elseif entry.title|length %}
								
								{% set heading = entry.title %}

							{% endif %}

	                    	<div class="uk-text-center uk-width-expand@s">

		                        <h2 class="uk-margin-remove-bottom">{{ heading }}</h2>

		                    </div>

		                    <div class="uk-width-1-4"></div>

		                </div>

		            </div>

		        </div>

		    </div>

		    {% include '_inc/_enquire-now' %}

		</section>

	    {# Intro #}

		{% if intro != null %}

			<section class="uk-section section-landing-holidays section-offers" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;" id="scrollTo--2">

			    <div class="uk-container uk-position-relative">

			        <div class="uk-text-center">

			            {{ intro }}

			        </div>

			    </div>

			</section>

		{% endif %}

	    {# Holiday List #}

		<section class="uk-section section-landing-holidays section-offers" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;" id="scrollTo--3">
			
	        <div class="uk-container uk-position-relative">

	            <div class="uk-text-center uk-margin-medium-bottom search-results">
	            
	                <h2>Showing {{ pageInfo.total }} golf holiday{% if pageInfo.total != 1 %}s{% endif %}</h2>

	                {% if relationParam != null %}   	

	                    <p>

	                        Searching for - 

	                        {% if craft.app.request.getParam('location') is defined and craft.app.request.getParam('location')|length %}

	                            <strong>Location:</strong> <em>{{ craft.app.request.getParam('location')|replace({'-': ' '})|title }}</em>&nbsp;&nbsp;

	                        {% endif %}

	                        {% if craft.app.request.getParam('type') is defined and craft.app.request.getParam('type')|length %}

	                            <strong>Holiday Type:</strong> <em>{{ craft.app.request.getParam('type')|replace({'-': ' '})|title }}</em>&nbsp;&nbsp;

	                        {% endif %}

	                        {% if craft.app.request.getParam('specialist-tour') is defined and craft.app.request.getParam('specialist-tour')|length %}

	                            <strong>Specialist Tour:</strong> <em>{{ craft.app.request.getParam('specialist-tour')|replace({'-': ' '})|title }}</em>&nbsp;&nbsp;

	                        {% endif %}

	                    </p>

	                {% endif %}

                    {% if holidays|length == 0 %}

                    	<p class="uk-margin-large-top"><button class="uk-button uk-card-link uk-button-primary button--no-results" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left, duration: 300">Click here to search for more golf holidays</button></p>

                    {% endif %}
	            
	            </div>

	            {% if holidays|length != 0 %}
	        	
		            <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
		            	
		                <div class="uk-text-muted uk-text-left uk-width-1-5@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>
		                
		            </div>

		        {% endif %}

	            {% set blockClasses = "uk-width-1-1 uk-width-1-2@s uk-width-1-4@m" %}
	            
	            <div class="" uk-height-match=".offer__detail">
	            	
	                <div class="uk-grid" uk-height-match=".offer__title" uk-grid>
	                	
	                    {% for holiday in holidays %}

	                        {% include 'holiday/_inc/_holiday' with { holiday : holiday, blockClasses : blockClasses } %}
	                        
	                    {% endfor %}
	                    
	                </div>
	                
	            </div>

	            {% if pageInfo.totalPages > 1 %}

	                <div class="pagination uk-padding uk-margin-top" uk-scrollspy="cls:uk-animation-slide-bottom-medium; offset-top: 150; delay: 250;">

	                    <div class="uk-container">

	                        <div class="pagination-wrapper">

	                            <ul class="uk-pagination uk-flex-center" uk-margin>

	                                {% if pageInfo.prevUrl %}

	                                    <li class="pagination-previous"><a href="{{ pageInfo.prevUrl }}"><span uk-pagination-previous></span></a></li>

	                                {% else %}
	                                    
	                                    <li class="pagination-previous"></li>

	                                {% endif %}

	                                {% for page, url in pageInfo.getPrevUrls(5) %}

	                                    <li><a href="{{ url }}">{{ page }}</a></li>

	                                {% endfor %}

	                                <li class="uk-active"><span>{{ pageInfo.currentPage }}</span></li>

	                                {% for page, url in pageInfo.getNextUrls(5) %}

	                                    <li><a href="{{ url }}">{{ page }}</a></li>

	                                {% endfor %}

	                                {% if pageInfo.nextUrl %}

	                                    <li class="pagination-next"><a href="{{ pageInfo.nextUrl }}"><span uk-pagination-next></span></a></li>

	                                {% else %}
	                                    
	                                    <li class="pagination-next"></li>

	                                {% endif %}

	                            </ul>

	                        </div>

	                    </div>

	                </div>

	            {% endif %}
	            
	        </div>
	        
	    </section>

	    {# Fixed Footer Blocks (from home page) #}

	    {% set entry = craft.entries()
		    .id(2)
		    .one()
		%}

		{% if entry.contentBlocks|length %}

			{% for block in entry.contentBlocks.all() %}

				{% set currentLoop = loop.index %}
				{% set nextLoop = loop.index + 1 %}

				{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

				{% switch block.type %}

					{% case "newsletterSignup" %}

						{% include '_inc/_blocks/_newsletterSignup' with blockVars %}

					{% case "whyBookWithUs" %}

						{% include '_inc/_blocks/_whyBookWithUs' with blockVars %}

					{% case "testimonials" %}

						{% include '_inc/_blocks/_testimonials' with blockVars %}

					{% case "blogList" %}

						{% include '_inc/_blocks/_blogList' with blockVars %}

					{% default %}

				{% endswitch %}

			{% endfor %}

		{% endif %}

	    {# Search Banner #}

        {% include '_inc/_quick-search' %}

    </main>

{% endblock %}