{#:::: Job Listing Template ::::#}

{% extends "_layout" %}

{% set templateName = "temp-job-listing" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    <div class="uk-container">

        {#:::: Content Blocks ::::#}

        {% include '_inc/_content-blocks' %}

    </div>

{% endblock %}