mixin mobile-menu
    .mobile-menu.uk-text-primary(class="uk-hidden@s")
        button(data-uk-icon="menu" data-uk-toggle="target: #offcanvas-slide; animation: uk-animation-slide-left").mobile-menu__open
        button(data-uk-close).mobile-menu__close
            span(data-uk-icon="close")




