.mobile-menu {

    &.uk-offcanvas {
        @media (max-width: @breakpoint-small) {
            z-index: 1001;
        }
    }

    .uk-offcanvas-bar {
        @media (max-width: @breakpoint-small) {
            height: calc(100vh - 60px);
            top: 60px;
        }
    }

    &__bar {
        .uk-navbar {
            @media (max-width: @breakpoint-small) {
                top: 0;
            }
        }
    }

    &__close,
    &__open {
        width: 80px;
        height: 60px;
    }

    &__close {
        display: none;

        &:hover,
        &:active,
        &:focus {
            color: @global-primary-color;
        }

        > svg {
            display: none;
        }
    }
}

.uk-offcanvas-page {
    overflow-y: hidden;
}

.uk-offcanvas-container {
    overflow-y: hidden;

    .mobile-menu__close {
        display: block;

        svg {
            pointer-events: none;
        }
    }
    .mobile-menu__open {
        display: none;

        svg {
            pointer-events: none;
        }
    }
}