.section-landing-holidays {

    &__more {
        display: flex;
        justify-content: center;
        align-items: center;
        .font-size(16);
        width: 200px;
        height: 40px;
        margin-top: 30px!important;
        margin-right: auto;
        margin-bottom: 30px!important;
        margin-left: auto;
        background-color: @global-muted-background;
        color: @global-color;

        @media (min-width: @breakpoint-small) {
            .font-size(20);
            width: 360px;
            height: 70px;
            margin-top: 50px !important;
            margin-bottom: 50px!important;
        }
    }
}