include ./../components/logo/logo
include ./../components/mobile-menu/mobile-menu
include ./../components/nav/nav

header.header(data-uk-sticky data-uk-scrollspy="cls: fadeInDown animated; delay: 250; repeat: false;")
    .header__inner.uk-position-relative
        .uk-flex.uk-flex-between.uk-flex-middle
            .header__logo
                +logo-color
            +mobile-menu
            +logo-pts
        .header__nav.uk-flex.uk-flex-between.uk-flex-middle
            div(class="uk-width-auto")
                .header__logo
                +nav