mixin blog-item
    li.uk-margin-medium-bottom
        a(href="#").blog.hover-image
            .blog__image.hover-image__image.uk-background-muted
                img(src="img/offer.jpg" alt="imgAlt" width="356" height="228")
            .blog__detail
                span.blog__date.uk-text-emphasis 22.04.19
                p How to get the most from your golf holiday

mixin section-blog-list
    section.uk-section#section-blog-list
        .uk-container(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
            .uk-flex.uk-flex-middle.title
                .uk-text-muted(class="uk-width-1-5@s uk-visible@s")
                    span(data-uk-icon="logo-mini")
                div(class="uk-width-expand@s")
                div(class="uk-width-1-5@s uk-visible@s")
            ul.uk-grid.uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-3@s')
                +blog-item
                +blog-item
                +blog-item
                +blog-item
                +blog-item
                +blog-item
                +blog-item
                +blog-item
                +blog-item

            .uk-text-center
                a(href="#").uk-button.uk-button-large.slider-blogs__more View more Blogs