.slider-intro {
    font-weight: 500;

    @media (min-width: @breakpoint-large) {
        min-height: auto;
    }

    a,
    p {
        padding: 16px;
        margin-bottom: 0;
    }

    a {
        display: block;
        font-weight: 900;
        padding: 8px 32px;
        margin-left: 94px;

        @media (min-width: @breakpoint-large) {
            padding: 20px 32px;
            margin-left: 94px;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @button-default-active-background;
        }
    }

    p {
        @media (min-width: @breakpoint-large) {
            .font-size(18);
            padding: 24px 32px 24px 94px;
        }
    }

    h2 {
        .font-size(20);
        font-weight: 500;
        padding: 16px;
        margin-bottom: 0;

        @media (min-width: @breakpoint-small) {
            .font-size(50);
        }

        @media (min-width: @breakpoint-large) {

            padding: 16px 32px;
        }

        span {
            font-weight: 900;
        }
    }

    .uk-slider-items > * {
        width: 100%;
    }

    &__caption {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 1325px;
        max-width: 100%;
        height: 100%;
        margin-right: auto;
        margin-left: 0;

        @media (min-width: @breakpoint-large) {
            margin-left: auto;
        }
    }

    &__caption-inner {
        display: flex;
        flex-direction: column;

        @media (min-width: @breakpoint-large) {
            margin-top: -100px;
        }

        > * {
            align-self: flex-start;
        }
    }

    &__image {
        width: 100%;
        height: 400px;
        object-fit: cover;

        @media (min-width: @breakpoint-large) {
            max-width: 1725px;
            height: 790px;
        }
    }
}