{#:::: Content Blocks ::::#}

{% if entry.contentBlocks|length %}

	{% for block in entry.contentBlocks.all() %}

		{% set currentLoop = loop.index %}
		{% set nextLoop = loop.index + 1 %}

		{% set blockVars = { currentLoop : loop.index, nextLoop : loop.index + 1 } %}

		{% switch block.type %}

			{% case "banner" %}

				{% include '_inc/_blocks/_banner' with blockVars %}

			{% case "searchBanner" %}

				{% include '_inc/_blocks/_searchBanner' with blockVars %}

			{% case "intro" %}

				{% include '_inc/_blocks/_intro' with blockVars %}

			{% case "callToActions" %}

				{% include '_inc/_blocks/_callToActions' with blockVars %}

			{% case "latestOffers" %}

				{% include '_inc/_blocks/_latestOffers' with blockVars %}

			{% case "specialistTours" %}

				{% include '_inc/_blocks/_specialistTours_global' with blockVars %}

			{% case "fastChoice" %}

				{% include '_inc/_blocks/_fastChoice' with blockVars %}

			{% case "text" %}

				{% include '_inc/_blocks/_text' with blockVars %}

			{% case "destinationsDiscount" %}

				{% include '_inc/_blocks/_destinationsDiscount' with blockVars %}

			{% case "followUs" %}

				{% include '_inc/_blocks/_followUs' with blockVars %}

			{% case "newsletterSignup" %}

				{% include '_inc/_blocks/_newsletterSignup' with blockVars %}

			{% case "whyBookWithUs" %}

				{% include '_inc/_blocks/_whyBookWithUs' with blockVars %}

			{% case "testimonials" %}

				{% include '_inc/_blocks/_testimonials' with blockVars %}

			{% case "blogList" %}

				{% include '_inc/_blocks/_blogList' with blockVars %}

			{% case "holidayList" %}

				{% include '_inc/_blocks/_holidayList' with blockVars %}

			{% default %}

		{% endswitch %}

	{% endfor %}

{% endif %}