{#:::: Enquire Now ::::#}

<div class="enquiring uk-text-uppercase">
	
    <div class="uk-flex">
    	
        <div class="uk-background-primary enquiring__phone">
        	
            <p class="uk-visible@m">Book now</p>

            {% if phoneNumber.phoneNumber|length %}

                <a class="uk-margin-remove-bottom enquiring__phone-value" href="tel:{{ phoneNumber.phoneNumber }}"><span class="uk-visible@m">{{ phoneNumber.phoneNumber }}</span><span class="uk-light uk-hidden@m" data-uk-icon="phone"></span></a>

            {% endif %}
            
        </div>
        
        <div class="enquiring__mail uk-flex uk-flex-center uk-flex-middle uk-light" data-uk-toggle="target: #modal-enquire" title="Contact us form">
        	
            <button data-uk-icon="mail"></button>
            
        </div>
        
    </div>
    
</div>