{# Job Search Form #}

{# Search Filters #}

{% set filters = craft.entries()
    .section('jobs')
    .status('live')
    .all()
%}

{# Filter: Type of Employment #}

{% set arrTypeOfEmployment = [] %}

{% for filter in filters %}

    {% if filter.typeOfEmployment|length %}

        {% if filter.typeOfEmployment not in arrTypeOfEmployment %}

            {% set arrTypeOfEmployment = arrTypeOfEmployment|merge([filter.typeOfEmployment]) %}

        {% endif %}

    {% endif %}
    
{% endfor %}

{# Filter: Contract Type #}

{% set arrContractTypes = [] %}

{% for filter in filters %}

    {% if filter.contractType|length %}

        {% if filter.contractType not in arrContractTypes %}

            {% set arrContractTypes = arrContractTypes|merge([filter.contractType]) %}

        {% endif %}

    {% endif %}
    
{% endfor %}

{# Filter: Sectors #}

{% set sectors = craft.categories()
    .group('industry')
    .orderBy('title asc')
    .all()
%}

<form action="{{ url('search-jobs') }}">

    <div class="main-form uk-flex uk-flex-middle">

        <div class="form-wrapper uk-flex uk-flex-middle">

            <div class="form-element">

                <input class="uk-input" name="keywords" type="text"{% if results == true and keywords|length %} value="{{ keywords }}"{% endif %} placeholder="Keyword e.g. Engineering, Sales">

            </div>

            {% if arrTypeOfEmployment|length %}

                <div class="form-element">

                    <select name="typeOfEmployment" id="filter--typeOfEmployment">

                        <option value="">Select Job type...</option>

                        {% for key,type in arrTypeOfEmployment|sort %}

                            <option value="{{ type }}"{% if typeOfEmployment is defined and typeOfEmployment == type %} selected{% endif %}>{{ type }}</option>

                        {% endfor %}

                    </select>

                </div>

            {% endif %}

        </div>

        <div class="form-element">

            <button type="submit" class="search-btn">Search</button>

        </div>

    </div>

    <div class="more-options">

        <ul uk-accordion>

            <li{% if craft.app.request.getParam('sector')|length or craft.app.request.getParam('contractType')|length %} class="uk-open"{% endif %}>

                <div class="uk-accordion-content">

                    <div uk-grid class="uk-grid-collapse uk-child-width-1-2@m">

                        <div>

                            <div class="form-element">

                                <select name="sector" id="filter--sector">

                                    <option value="">Sector...</option>

                                    {% for sector in sectors %}

                                        <option value="{{ sector.slug }}"{% if craft.app.request.getParam('sector') is defined and craft.app.request.getParam('sector') == sector.slug %} selected{% endif %}>{{ sector.title }}</option>
                                        
                                    {% endfor %}

                                </select>

                            </div>

                        </div>

                        <div>

                            {% if arrContractTypes|length %}

                                <div class="form-element">

                                    <select name="contractType" id="filter--contractType">

                                        <option value="">Select Job type...</option>

                                        {% for key,type in arrContractTypes|sort %}

				                            <option value="{{ type }}"{% if contractType is defined and contractType == type %} selected{% endif %}>{{ type }}</option>

				                        {% endfor %} 

                                    </select>

                                </div>

                            {% endif %}

                        </div>

                        {# <div>
                        
                            <div class="form-element">

                                <select>
                                    <option value="">Added...</option>
                                    <option value="1">Option 01</option>
                                    <option value="2">Option 02</option>
                                    <option value="3">Option 03</option>
                                    <option value="4">Option 04</option>
                                </select>

                            </div>

                        </div> #}

                    </div>

                </div>

                <a class="uk-accordion-title" uk-toggle="target: #additional-info, #more, #less; cls: opened" href="#"><span id="more">More</span><span id="less">Less</span> options »</a>

            </li>

        </ul>

    </div>

</form>