{#:::: Quick Search ::::#}

<div class="quick-search" id="quick-search" hidden="hidden">

    <button class="quick-search__close" type="button" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left"><span data-uk-icon="close"></span></button>

    <form class="uk-form uk-background-primary uk-overflow-hidden form-search" action="{{ url('holidays') }}" method="get">

        <a class="uk-form-ribbon uk-form-ribbon--new uk-background-primary-light uk-text-uppercase" href="#"><span>View</span><strong class="uk-light">New In</strong></a>

        <h2 class="uk-text-center uk-light">Find Your Next Golf Holiday</h2>

        <div class="form-search__container">

            <div class="uk-flex-center uk-grid-small" data-uk-grid="data-uk-grid">

                {% set locationQuery = craft.categories()
                    .group('locations')
                    .level([1, 2])
                %}

                {% set locations = locationQuery.all() %}

                {% if locations|length %}

                    <div class="uk-width-1-1 uk-width-1-3@s">

                        <label class="uk-form-label uk-light uk-text-uppercase">Location</label>

                        <select class="uk-select" name="location">

                            <option value="">Select Location:</option>

                            {% for location in locations %}

                                <option value="{{ location.slug }}"{% if craft.app.request.getParam('location') is defined and craft.app.request.getParam('location') == location.slug %} selected{% endif %}>

                                    {% if location.level == 2 %}-- {% endif %}{{ location.title }}

                                </option>
                                
                            {% endfor %}

                        </select>

                    </div>

                {% endif %} 

                {% set holidayTypesQuery = craft.categories()
                    .group('holidayTypes')
                    .orderBy('title asc')
                %}

                {% set holidayTypes = holidayTypesQuery.all() %}

                {% if holidayTypes|length %}

                    <div class="uk-width-1-1 uk-width-1-3@s">

                        <label class="uk-form-label uk-light uk-text-uppercase">Type of holiday</label>

                        <select class="uk-select" name="type">

                            <option value="">Select Holiday Type:</option>

                            {% for holidayType in holidayTypes %}

                                <option value="{{ holidayType.slug }}"{% if craft.app.request.getParam('type') is defined and craft.app.request.getParam('type') == holidayType.slug %} selected{% endif %}>

                                    {{ holidayType.title }}

                                </option>
                                
                            {% endfor %}

                        </select>

                    </div>

                {% endif %}

                {% set specialistToursQuery = craft.categories()
                    .group('specialistGolfTours')
                    .orderBy('title asc')
                %}

                {% set specialistTours = specialistToursQuery.all() %}

                {% if specialistTours|length %}

                    <div class="uk-width-1-1 uk-width-1-3@s">

                        <label class="uk-form-label uk-light uk-text-uppercase">Specialist Tour</label>

                        <select class="uk-select" name="specialist-tour">

                            <option value="">Select Specialist Tour:</option>

                            {% for specialistTour in specialistTours %}

                                <option value="{{ specialistTour.slug }}"{% if craft.app.request.getParam('specialist-tour') is defined and craft.app.request.getParam('specialist-tour') == specialistTour.slug %} selected{% endif %}>

                                    {{ specialistTour.title }}

                                </option>
                                
                            {% endfor %}

                        </select>

                    </div>

                {% endif %}

            </div>

        </div>

        <div class="uk-flex">

            <div class="uk-width-1-5@s uk-visible@s">

                <div class="uk-light form-search__icon" data-uk-icon="logo-mini"></div>

            </div>

            <div class="uk-flex uk-flex-center uk-width-expand@s">

                <button class="uk-button uk-button-default uk-button-large"><span data-uk-icon="search"></span><span class="uk-text-uppercase">Lets Golf</span></button>

            </div>

            <div class="uk-width-1-5@s uk-visible@s"></div>

        </div>

    </form>

</div>

<button class="quick-search-toggle uk-flex" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left, duration: 300"><span class="uk-light quick-search-toggle__text"><span><strong>Find</strong> Your<br> Holiday</span></span><span class="uk-light quick-search-toggle__icon"><span data-uk-icon="search"></span></span></button>

<a class="scroll-to" href="#section-blog-list" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>
