include ../form-enquire/form-enquire

mixin modal-enquire
    #modal-enquire(data-uk-modal='')
        .uk-modal-dialog.uk-modal-body
            button.uk-modal-close-default(type='button')
                span(data-uk-icon="close")
            +form-enquire