mixin country-list
    ul.country-list(data-uk-grid)
        each val in ['UK', 'PORTUGAL', 'UAE', 'MOROCCO', 'TURKEY', 'SPAIN', 'MARITIUS', 'SOUTH AFRICA']
            li.country-list__item(class="uk-width-1-2@s")
                img(src="img/uk.png" alt="uk flag").country-list__icon
                span= val
