.country-list {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    
    &__icon {
        margin-right: 15px;
    }

    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
    }
}