.enquiring {
    z-index: 1030;
    position: absolute;
    top: 0;
    right: 0;

    @media (min-width: @breakpoint-medium) {
        right: 0;
    }

    &__phone,
    &__mail {
        padding: 15px;

        @media (min-width: @breakpoint-small) {
            padding: 20px;
        }

        @media (min-width: @breakpoint-medium) {
            width: auto;
            padding: 18px 28px;
        }
    }

    &__phone {
        p {
            .font-size(16);
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    &__phone-value {
        font-weight: 900;
        .font-size(26);
        line-height: 1;
        color: @button-default-color;

        &:hover,
        &:active,
        &:focus {
            color: @global-color;
        }
    }

    &__mail {
        padding: 20px;
        background-color: @global-primary-color-light;
        cursor: pointer;
        transition-duration: @global-transition-duration;

        &:hover,
        &:active,
        &:focus {
            color: @global-color;
            transition-duration: @global-transition-duration;
        }
    }
}