@offer-background-hover: rgba(70, 170, 110, 0.5);

.offer {
    position: relative;
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;

    &:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: @global-primary-color-light;
        transition-duration: @global-transition-duration;
    }

    &:hover,
    &:active,
    &:focus {
        p {
            color: @global-color;
        }

        &:before {
            bottom: -20px;
            transition-duration: @global-transition-duration;
            background-color: @global-color;
        }

        .offer__image {
            &:before {
                opacity: 1;
            }

            &:after {
                opacity: 1;
            }
        }

        .offer__title {
            color: @global-primary-color-light;
            transition-duration: @global-transition-duration;
        }
    }

    p {
        margin-bottom: 0;
    }

    &__detail {
        padding-left: 10px;
    }

    &__image {
        position: relative;
        margin-bottom: 15px;

        &:before {
            content: "";
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 97px;
            height: 62px;
            margin: auto;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 97.73 62.55'%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='desktop_-_grid' data-name='desktop - grid'%3E%3Cpath d='M67.08 61.33a30.66 30.66 0 0 1-10.82-2 3.31 3.31 0 1 1 2.33-6.19 24.05 24.05 0 1 0-3.25-43.48 3.3 3.3 0 1 1-3.22-5.77 30.67 30.67 0 1 1 15 57.44zM3.31 39a3.31 3.31 0 0 1-1.61-6.2L39 12a3.3 3.3 0 1 1 3.22 5.77L4.92 38.56a3.34 3.34 0 0 1-1.61.44zM16.76 50.76a3.3 3.3 0 0 1-1.61-6.19l26.78-15a3.31 3.31 0 0 1 3.23 5.78l-26.79 15a3.23 3.23 0 0 1-1.61.41zM30.22 62.55a3.31 3.31 0 0 1-1.62-6.2l15.72-8.78a3.31 3.31 0 0 1 3.23 5.78l-15.72 8.78a3.36 3.36 0 0 1-1.61.42z' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            transition-duration: @global-transition-duration;
        }

        &:after {
            content: "";
            opacity: 0;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @offer-background-hover;
        }

        img {
            width: 100%;
            height: 171px;
            object-fit: cover;

            @media (min-width: @breakpoint-xlarge) {
                width: 263px;
            }
        }
    }

    &__title {
        .font-size(18);
        padding-left: 10px;
        transition-duration: @global-transition-duration;
    }
}

// @keyframes offer-underline-hover {
//     0% {
//         transform: translateY(0);
//     }
//     100% {
//         transform: translateY(0);
//     }
// }