mixin offer
    a(href="#").offer
        h3.offer__title.uk-text-uppercase Vila sol vilamoura
        .offer__image
            img(src="img/offer.jpg" alt="imgAlt")
        .offer__detail
            p 3 NIGHTS / 3 RNDS
            p HALF BOARD
            strong.uk-text-emphasis £159