{# Holiday Block #}

<div class="{{ blockClasses }}">

    <a class="offer" href="{{ holiday.getUrl() }}">

        <h3 class="offer__title uk-text-uppercase">{{ holiday.title }}</h3>

        {% set holidayImgSrc = 'https://via.placeholder.com/263x171.png?text=Golf Holiday Shop ' ~ holiday.title %}
        {% set holidayImgAlt = holiday.title %}

        {% if holiday.gallery|length %}

            {% set asset = holiday.gallery.one() %}

            {% set holidayImgSrc = asset.getUrl() %}

            {% if asset.title|length %}

                {% set holidayImgAlt = asset.title %}

            {% endif %}

        {% endif %}


        <div class="offer__image">

            <img src="{{ holidayImgSrc }}" alt="{{ holidayImgAlt }}">

        </div>


        <div class="offer__detail">

            {% if holiday.noOfNights|length or holiday.rounds|length %}

                <p>

                    {% if holiday.noOfNights|length %}

                        {{ holiday.noOfNights }} NIGHTS

                        {% if holiday.rounds|length %}

                            &nbsp;/&nbsp;

                        {% endif %}

                    {% endif %}

                    {% if holiday.rounds|length %}

                        {{ holiday.rounds }} RNDS

                    {% endif %}

                </p>

            {% endif %}

            {% if holiday.board|length %}

                <p>{{ holiday.board }}</p>

            {% endif %}

            {% set priceFrom = "TBC" %}

            {% if holiday.priceFrom|length %}

                {% set priceFrom = holiday.priceFrom %}

            {% endif %}

            <strong class="uk-text-emphasis">FROM &pound;{{ priceFrom }}</strong>  

        </div>

    </a>

</div>