mixin modal-video
    #modal-video(data-uk-modal)
        .uk-modal-dialog.uk-margin-auto-vertical
            button.uk-modal-close-outside(type="button" data-uk-close)
            .iframe-container
                iframe(src="https://www.youtube.com/embed/_P0C0ALLCm0" data-uk-video class="iframe-video")