{#:::: Menu - Main ::::#}

{% set nodes = craft.navigation.nodes()
    .handle('footer')
    .all()
%}

{% if nodes|length %}

	<ul class="footer-menu">

		{% nav node in nodes %}

			<li{% if node.active %} class="uk-active"{% endif %}><a href="{{ node.url }}" {% if node.type == null %} uk-toggle{% endif %}>{{ node.title }}</a></li>

		{% endnav %}

	</ul>

{% endif %}