{#:::: Menu - Main ::::#}

{% set nodes = craft.navigation.nodes()
    .handle('main')
    .all()
%}

<ul class="uk-navbar-nav">

	{% nav node in nodes %}

	    <li class="{% if node.classes %}{{ node.classes }}{% endif %}{% if node.active %} uk-active{% endif %}">

	        <a href="{{ node.url }}" {% if node.type == null %} uk-toggle{% endif %}>{{ node.title }}</a>

	    </li>

	{% endnav %}

</ul>