mixin slider-details-item
    li
        img(src="img/village.jpg" alt="imgAlt" width="847" height="540")

mixin slider-details
    .slider-details(data-uk-slider='')
        .uk-position-relative
            .uk-slider-container
                ul.uk-slider-items
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
                    +slider-details-item
        //- ul.uk-thumbnav(data-uk-margin='')
        //-     li(data-uk-slider-item="0").uk-active
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="1")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="2")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="3").uk-active
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="4")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="5")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="4")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        //-     li(data-uk-slider-item="5")
        //-         a(href='#')
        //-             img(src='img/village.jpg' width='128' alt='thumb')
        <ul class="uk-grid-small uk-grid" uk-grid="">


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-active uk-first-column" data-uk-slider-item="0">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/3-2.jpg" alt="3 2">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl" data-uk-slider-item="1">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/Wadi-Tiwi-Mibam-Village-12.jpg" alt="Wadi Tiwi Mibam Village 12">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin uk-first-column" data-uk-slider-item="2">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/aerial-photo-of-the-greg_200115_011327.jpg" alt="Aerial photo of the greg">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin" data-uk-slider-item="3">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/940x390-1-832x390_200115_011326.jpg" alt="940x390 1 832x390">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin uk-first-column" data-uk-slider-item="4">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/196999274.jpg" alt="196999274">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin" data-uk-slider-item="5">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/209954228.jpg" alt="209954228">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin uk-first-column" data-uk-slider-item="6">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/209953736.jpg" alt="209953736">

                </a>

            </li>


            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl uk-grid-margin" data-uk-slider-item="7">

                <a href="#">

                    <img src="https://golfholidayshop.own-design-dev.co.uk/uploads/page/_128x85_crop_center-center_75_none/dreamstime_xxl_112632335.jpg" alt="Dreamstime xxl 112632335">

                </a>

            </li>


        </ul>

