{# Freeform Template: UIKit #}

{{ form.renderTag({
    class: "uk-form"
}) }}

    {% do view.registerJsFile("https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.79/jquery.form-validator.min.js") %}

    {% js %}

        $.validate();

    {% endjs %}

    {# {% if form.submittedSuccessfully %}
    
        UIkit.notification({
            message: 'Form success!',
            status: 'success',
            pos: 'top-center',
            timeout: 5000
        });

    {% endif %} #}

    {% if form.hasErrors %}

        {% js %}

            {# UIkit.notification({
                message: 'There are some form errors',
                status: 'danger',
                pos: 'top-center',
                timeout: 5000
            }); #}

            UIkit.modal('#modal-enquire').show();

        {% endjs %}

    {% endif %}

    <div class="uk-flex-center uk-margin-bottom" data-uk-grid>

        {% for row in form %}

            {% for field in row %}

                {% set validation = "" %}

                {% if field.required == 1 %}

                    {% set validation = "required" %}

                {% endif %}

                {% set isCheckbox = field.type in ["checkbox","mailing_list"] %}

                {% set columnClass = "uk-width-1-1 uk-width-1-2@s " %}
                {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                {# {% if field.type == "submit" %}
                
                    {% set columnClass = columnClass ~ " submit-align-" ~ field.position %}

                {% endif %} #}

                {% if field.type == "checkbox_group" %}

                    <div class="uk-width-1-1">
                    
                        {{ field.renderLabel({
                            labelClass: (field.required ? " required" : ""),
                            instructionsClass: "help-text",
                        }) }}

                        {% for option in field.options %}

                           <div class="g-form-el">

                                <label>

                                    <input type="checkbox"
                                        name="{{ field.handle }}[]"
                                        value="{{ option.value }}"
                                        class="uk-checkbox" 
                                        {{ option.checked ? "checked" : "" }}
                                        data-validation="{{ validation }}" 
                                    />

                                    <span>{{ option.label }}</span>

                                </label>

                            </div>

                        {% endfor %}

                        {{ field.renderInstructions() }}
                        {{ field.renderErrors() }}

                    </div>

                {% elseif field.type == "radio_group" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">

                            {{ field.renderLabel({
                                labelClass: (field.required ? " required" : ""),
                                instructionsClass: "help-text",
                            }) }}

                            {% for option in field.options %}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                            name="{{ field.handle }}"
                                            value="{{ option.value }}"
                                            {{ option.checked ? "checked" : "" }}
                                            data-validation="{{ validation }}" 
                                        />
                                        {{ option.label }}
                                    </label>
                                </div>
                            {% endfor %}

                            {{ field.renderInstructions() }}
                            {{ field.renderErrors() }}

                        </div>

                    </div>

                {% elseif field.type == "dynamic_recipients" and field.showAsRadio %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">

                        <div class="g-form-el">

                            {{ field.renderLabel({
                                labelClass: (field.required ? " required" : ""),
                                instructionsClass: "help-text",
                            }) }}

                            {% for option in field.options %}
                                <div class="radio">
                                    <label>
                                        <input type="radio"
                                            name="{{ field.handle }}"
                                            value="{{ loop.index0 }}"
                                            {{ option.checked ? "checked" : "" }}
                                            data-validation="{{ validation }}" 
                                        />
                                        {{ option.label }}
                                    </label>
                                </div>
                            {% endfor %}

                            {{ field.renderInstructions() }}
                            {{ field.renderErrors() }}

                        </div>

                    </div>

                {% elseif field.type == "file" %}

                    {% if field.label|length %}

                        <div class="title uk-visible@s uk-width-1-1 uk-text-center uk-margin-remove-bottom ">
                        
                            <p>{{ field.label }}</p>

                        </div>

                    {% endif %}

                    <div class="uk-width-1-1 uk-grid-margin" data-type="{{ field.label }} - {{ field.id }} - {{ field.handle }}">

                        <div class="g-form-el">

                            <div class="uk-margin" uk-margin>

                                <div class="uk-width-1-1" uk-form-custom="target: true">

                                    <input type="file" data-validation="required" id="{{ field.id }}" name="{{ field.handle }}">

                                    <input class="uk-input uk-file" type="text" placeholder="{{ field.instructions }}" disabled>

                                </div>

                            </div>
                                                        
                            {#{{ field.render({
                                class: isCheckbox ? "checkbox" : "uk-input",
                                instructionsClass: "help-text",
                                instructionsBelowField: true,
                                labelClass: (field.required ? " required" : ""),
                                inputAttributes: { "data-validation": validation }
                            }) }}

                            <span class="val"></span> #}

                        </div>

                    </div>

                {% elseif field.type == "checkbox" %}

                    <div class="uk-text-center uk-width-1-1">

                        <label>

                            <input class="uk-checkbox" type="checkbox" checked="" name="{{ field.handle }}" value="yes" {{ field.checked ? "checked" : "" }} data-validation="{{ validation }}" {{ validation }}>

                            <span class="uk-text-small uk-margin-left">{{ field.label }}</span>

                            {% if field.renderErrors()|length %}

                                <span class="help-block form-error">{{ field.renderErrors() }}</span>

                            {% endif %}

                        </label>

                    </div>

                {% elseif field.type == "mailing_list" %}

                    <div class="uk-width-1-1 {{ columnClass }}">

                        <div class="uk-form-note uk-margin-remove-left">

                            <label class="uk-form-label uk-flex">

                                <input type="checkbox"
                                name="{{ field.handle }}"
                                value="yes"
                                class="uk-checkbox uk-background-default" 
                                {# {{ field.checked ? "checked" : "" }} #}
                                data-validation="required" 
                            >

                                <span>{{ field.label }}</span>

                                {% if field.renderErrors()|length %}

                                    <span class="help-block form-error">{{ field.renderErrors() }}</span>

                                {% endif %}

                            </label>

                        </div>

                    </div>

                {% elseif field.type == "submit" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="uk-form-submit {{ columnClass }}">

                        <button class="uk-button uk-button-default" type="submit" name="{{ field.handle }}">{{ field.label }}</button>

                    </div>

                {% elseif field.type == "textarea" %}

                    {% set columnClass = "uk-width-1-1" %}
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">
                            
                        {{ field.render({
                            class: "uk-textarea",
                            instructionsClass: "help-text",
                            instructionsBelowField: true,
                            labelClass: (field.required ? " required" : ""),
                            inputAttributes: { "data-validation": validation }
                        }) }}

                    </div>

                {% elseif field.type == "html" %}

                    {% set columnClass = "uk-width-1-1" %}

                    <div class="uk-text-center uk-width-1-1">

                        {{ field.render() }}

                    </div>

                {% else %}
                        
                    {% set columnClass = columnClass ~ form.customAttributes.columnClass %}

                    <div class="{{ columnClass }}">
                            
                        {{ field.render({
                            class: isCheckbox ? "checkbox" : "uk-input",
                            instructionsClass: "help-text",
                            instructionsBelowField: true,
                            labelClass: (field.required ? " required" : ""),
                            inputAttributes: { "data-validation": validation }
                        }) }}

                    </div>

                {% endif %}

            {% endfor %}
            
        {% endfor %}

    </div>

{{ form.renderClosingTag }}