
mixin logo
    a(href="#").logo-white
        img(src="./img/logo-full.svg" alt="Golf Holiday Shop Logo" width="361" height="91")

mixin logo-color
    a(href="#").logo
        h1 Golf Holiday Shop Logo
        img(src="./img/logo-full-color.svg" alt="Golf Holiday Shop Logo" width="280" height="74").logo__img
        .logo__inner

mixin logo-pts
    a(href="https://www.protectedtrustservices.com" class="uk-visible@l" target="_blank" rel="noopener noreferrer").uk-flex.uk-flex-none.logo-pts
        img(src="./img/logo-pts.png" srcset="./img/logo-pts.png 2x" alt="Protected Trust Services Logo" width="185" height="71" title="Protected Trust Services")
