.logo {
    display: flex;
    justify-content: center;
    position: relative;

    h1 {
        display: none;
    }

    &__img {
        z-index: 1040;
        position: relative;
        top: 20px;
        left: 5%;
        width: 95%;
        height: 50px;

        @media (min-width: @breakpoint-small) {
            top: 30px;
            left: 20px;
            width: 200px;
            height: auto;
        }

        @media (min-width: @breakpoint-large) {
            top: 21px;
        }

        @media (min-width: 1600px) {
            width: 280px;
            height: auto;
            top: 40px;
            left: -10px;
        }
    }

    &__inner {
        position: absolute;
        top: 55px;
        left: -20px;
        width: 100vw;
        height: 110px;
        overflow: hidden;
        pointer-events: none;

        @media (min-width: @breakpoint-small) {
            width: 400px;
            top: 90px;
            left: -80px;
        }

        @media (min-width: @breakpoint-large) {
            top: 80px;
        }

        @media (min-width: 1600px) {
            width: 430px;
            top: 90px;
            left: -20px;
        }

        &:before {
            content: "";
            z-index: 1030;
            position: absolute;
            top: -185px;
            left: 0;
            display: block;
            width: 67vw;
            height: 225px;
            background-color: @global-background;
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
            border-radius: 50%;

            @media (min-width: @breakpoint-small) {
                display: block;
                top: -370px;
                width: 430px;
                height: 410px;
            }

            @media (min-width: 1600px) {
                top: -370px;
                width: 460px;
                height: 460px;
            }
        }
    }
}

.logo-pts {
    z-index: 1;
    position: relative;
    width: 185px;
    height: 71px;
}