.uk-navbar {
    z-index: 1020;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding-top: 80px;

    @media (min-width: @breakpoint-small) {
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        width: auto;
        padding-top: 0;
    }
    @media (min-width: @breakpoint-xlarge) {
        position: static;
        top: 0;
        width: auto;
    }
}

.uk-navbar-container {
    .uk-navbar-dropdown-dropbar.uk-navbar-dropdown--main {
        left: 0 !important;
        width: 100%;
        max-width: 1560px;
        right: 0;
        margin: 0 auto;
        padding-bottom: 40px;
        padding-top: 40px;
        background-color: @global-primary-background;
        box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.5);

        @media (min-width: @breakpoint-small) {
            position: fixed;
            padding-bottom: 80px;
        }

        @media (min-width: @breakpoint-xlarge) {
            position: absolute;
        }

        .uk-container {
            max-width: 1200px;
        }
    }
}

.uk-navbar-dropdown__button {
    .font-size(18);
    font-weight: 600;
    background: none;
    border: 0;
    color: @global-inverse-color;
    border-bottom: 2px solid transparent;
    text-align: left;
    cursor: pointer;

    &.uk-open {
        color: #0c4920;
        outline: none;
        border-bottom: 2px solid #0c4920;

        + .uk-drop {
            display: block;
            padding-top: 20px;
        }
    }

    @media (min-width: @breakpoint-large) {
        .font-size(14);
    }

    @media (min-width: @breakpoint-large) {
        .font-size(22);
    }
}

.uk-navbar-container:not(.uk-navbar-transparent) {
    background-color: @global-background;
}

.uk-navbar-left {
    width: 100%;
    min-height: 90px;
}

.uk-navbar-nav {
    flex-direction: column;
    width: 100%;

    @media (min-width: @breakpoint-small) {
        flex-direction: row;
    }
}

.uk-navbar-nav > li:not(:last-child) > a {
    &:after {
        @media (min-width: @breakpoint-xlarge) {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: -20px;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            background-color: @global-primary-background;
            width: 1px;
            height: 20px;
        }
    }
}

.uk-navbar-nav > li > a {
    display: block;
    position: relative;
    min-height: auto;
    font-weight: 600;
    padding: 12px;
    border: 1px solid transparent;
    background-color: @global-muted-background;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

    @media (min-width: @breakpoint-small) {
        .font-size(14);
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-right: 0;
        margin-left: 0;
        background-color: transparent;
        box-shadow: none;
    }

    @media (min-width: @breakpoint-xlarge) {
        .font-size(16);
        padding-right: 20px;
        padding-left: 20px;
        margin-right: 20px;
        margin-left: 20px;
        letter-spacing: 1.5px;
    }

    &:hover,
    &:active,
    &:focus {
        @media (min-width: @breakpoint-medium) {
            border-radius: 50px;
            border: 1px solid @global-primary-color;
            color: @global-primary-color;
        }
    }
}

.uk-navbar-dropbar {
    position: relative;
    background-color: transparent;

    @media (min-width: @breakpoint-small) {
        z-index: 1;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

.uk-navbar-dropdown {
    position: static;

    @media (min-width: @breakpoint-small) {
        position: absolute;
    }

    h2 {
        display: none;
        font-family: @font-family-jenna-sue;
        .font-size(45);
        font-weight: 400;
        color: @global-inverse-color;

        @media (min-width: @breakpoint-small) {
            display: block;
        }
    }
}

.uk-navbar-dropdown-nav {
    .font-size(16);
    padding-left: 15px;

    @media (min-width: @breakpoint-small) {
        padding-left: 0;
    }
}

.uk-nav li > a {
    padding: 5px 0;
}

.uk-navbar-dropdown-nav > li > a,
.uk-navbar-dropdown-nav li > a {
    color: @global-inverse-color;
}

.uk-navbar-dropdown-nav li > a:hover,
.uk-navbar-dropdown-nav li > a:focus {
    color: @global-color;
}

[class*='uk-drop-bottom'] {
    margin-top: 0;
}

.uk-navbar-dropdown__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 250px;

    @media (min-width: @breakpoint-small) {
        flex-wrap: nowrap;
    }

    > div {
        flex-basis: 100%;

        @media (min-width: @breakpoint-small) {
            flex-basis: auto;
        }
    }
}