include ../enquiring/enquiring

mixin section-details-header
    section.uk-section.uk-background-secondary.uk-position-relative.section-details-header(data-uk-sticky data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
        .uk-container
            .uk-flex.uk-flex-between.uk-flex-bottom
                .uk-flex.uk-flex-wrap All Inclusive&nbsp;<strong>Holidays</strong>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span>Portugal</span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span>Algarve</span>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;<span>Albufeira</span>
                span.section-details-header__icon(data-uk-icon="logo-mini" class="uk-visible@m")
            +enquiring