.section-details-header {
    .font-size(16);
    padding: 120px 0 30px 0;
    color: @global-inverse-color;

    @media (min-width: @breakpoint-medium) {
        padding: 15px;
    }

    + .uk-sticky-placeholder {
        height: auto !important;
    }

    &__icon {
        width: 200px;
        opacity: 0.2;

        svg {
            width: inherit;
            height: inherit;
        }
    }
}