@social-bg: #f2f2f2;

.social {
    list-style-type: none;
    margin-top: 0;
    margin-right: -4px;
    margin-left: -4px;
    margin-bottom: 0;
    padding-left: 0;

    &__item {
        padding-right: 4px;
        padding-left: 4px;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 40px;
        margin-top: 4px;
        margin-bottom: 4px;
        background: none;
        border: 0;
        background-color: @social-bg;
        color: @global-color;
        border-radius: 50px;
        transition-duration: @global-transition-duration;
        cursor: pointer;

        @media (min-width: @breakpoint-small) {
            width: 70px;
            height: 50px;
        }

        &:hover,
        &:active,
        &:focus {
            background-color: @global-color;
            color: @global-background;
            transition-duration: @global-transition-duration;
        }
    }
}