mixin social
    ul.uk-flex.uk-flex-middle.uk-flex-wrap.social
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="twitter").social__icon

        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="youtube").social__icon

        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="instagram").social__icon

        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="facebook").social__icon

mixin social-share
    ul.uk-flex.uk-flex-middle.uk-flex-wrap.social
        li.social__item
            button.social__link
                span(data-uk-icon="twitter").social__icon

        li.social__item
            button.social__link
                span(data-uk-icon="youtube").social__icon

        li.social__item
            button.social__link
                span(data-uk-icon="instagram").social__icon

        li.social__item
            button.social__link
                span(data-uk-icon="facebook").social__icon