{#:::: Block - Banner ::::#}

<section class="section-intro-landing uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;" id="scrollTo--{{ currentLoop }}">

	{% if block.img|length %}

		{% set asset = block.img.one() %}

		<img class="section-intro-landing__image" src="{{ asset.getUrl() }}" srcset="{{ asset.getUrl() }} 2x" alt="All inclusive holidays" style="width: 100%;">

	{% endif %}

    <div class="uk-container">

        <div class="section-intro-landing__inner uk-position-absolute uk-position-top-left">

            <div class="section-intro-landing__title uk-padding-small uk-background-primary uk-light">

                <div class="uk-width-1-1 uk-flex">

                    <div class="uk-width-1-4"><span class="uk-margin-right" data-uk-icon="brand-icon"></span></div>

                    {% if block.heading|length %}

                    	<div class="uk-text-center uk-width-expand@s">

	                        <h2 class="uk-margin-remove-bottom">{{ block.heading }}</h2>

	                    </div>

                    {% endif %}   

                    <div class="uk-width-1-4"></div>

                </div>

            </div>

        </div>

    </div>

    {% include '_inc/_enquire-now' %}

</section>