{#:::: Block - Blog List ::::#}

<section class="uk-section" id="scrollTo--{{ currentLoop }}">

    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        {% if block.heading|length %}

            <div class="uk-text-center">

                <h2>{{ block.heading }}</h2>

            </div>

        {% endif %}
        
        {% if block.showList == 1 %}

            {% set limit = 999 %}

            {% if block.blogLimit|length %}

                {% set limit = block.blogLimit %}

            {% endif %}
            

            {% set blogsQuery = craft.entries()
                .section('blog')
                .limit(limit)
            %}

            {% set blogs = blogsQuery.all() %}

            {% if blogs|length %}

                <div class="slider-blogs" data-uk-slider="">

                    <div class="uk-position-relative">

                        <div class="uk-slider-container">

                            <ul class="uk-slider-items uk-grid uk-grid-medium uk-child-width-1-1 uk-child-width-1-3@s">

                                {% for blog in blogs %}

                                    <li>

                                        <a class="blog" href="{{ blog.getUrl() }}">

                                            {% if blog.bannerImage|length %}

                                                {% set thumb = {
                                                    mode: 'crop',
                                                    width: 356,
                                                    height: 228,
                                                    quality: 75,
                                                    position: 'center-center'
                                                } %}

                                                {% set asset = blog.bannerImage.one() %}

                                                <div class="blog__image uk-background-muted">

                                                    <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}" />

                                                </div>

                                            {% endif %}

                                            <div class="blog__detail">

                                                <span class="blog__date uk-text-emphasis">{{ blog.postDate|date('d.m.y') }}</span>

                                                <p>{{ blog.title }}</p>

                                            </div>

                                        </a>

                                    </li>
                                    
                                {% endfor %}

                            </ul>

                        </div>

                        <div class="uk-flex uk-flex-center">

                            <a class="uk-button-square uk-background-muted uk-text-primary slider-blogs__arrow uk-hidden@m" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>

                            <a class="uk-button-square uk-background-muted uk-text-primary slider-blogs__arrow uk-hidden@m" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>

                        </div>

                    </div>

                </div>

            {% endif %}

        {% endif %}

        {% if block.blogLink|length %}

            <div class="uk-text-center">

                <a class="uk-button uk-button-large slider-blogs__more" href="{{ block.blogLink.one().getUrl() }}">View more Blogs</a>

            </div>

        {% endif %}

    </div>

</section>