{#:::: Block - Call To Actions ::::#}

{% if block.ctaBlocks|length %}

	{% set blocks = block.ctaBlocks.all() %}

	<section class="uk-section uk-background-muted uk-position-relative section-booking" id="scrollTo--{{ currentLoop }}">

	    <img class="uk-visible@l section-image" src="/assets/img/golf-clubs.png" srcset="/assets/img/golf-clubs@2x.png 2x" alt="golf clubs" data-uk-scrollspy="cls: fadeInRight animated; delay: 250; repeat: false; offset-top: -250;"/>

	    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

	        <div class="uk-flex uk-flex-middle title">

	            <div class="uk-light uk-width-1-5@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>

	            {% if block.heading|length %}

	            	<div class="uk-flex uk-flex-center uk-width-expand@s">

		                <h2 class="uk-margin-remove-bottom">{{ block.heading }}</h2>

		            </div>

	            {% endif %}  

	            <div class="uk-width-1-5@s uk-visible@s"></div>

	        </div>

	        <div class="uk-flex-center uk-grid-match" data-uk-grid="data-uk-grid">

	        	{% for cta in blocks %}

	        		<div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m">

		                <div class="uk-card uk-card-default uk-card-body">

		                	{% if cta.heading|length %}

		                		<h3 class="uk-card-title uk-text-uppercase">{{ cta.heading }}</h3>

		                	{% endif %}

							{% if cta.text|length %}

								<p>{{ cta.text }}</p>

		                	{% endif %}

		                	{% if cta.button|length %}		                		

		                		{% set attributes = {
								    class: 'uk-button uk-card-link '~cycle(['uk-button-primary', 'uk-button-warning', 'uk-button-secondary', 'uk-button-default', 'uk-button-info'], loop.index0)
								} %}

								{{ cta.button.link(attributes) }}

		                	{% endif %}

		                </div>

		            </div>
	        		
	        	{% endfor %}

	        </div>

	    </div>

	</section>

	{% if block.scrollArrow == 1 %}

		<a class="scroll-to" href="#scrollTo--{{ nextLoop }}" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

	{% endif %}

{% endif %}