{#:::: Block - Destinations Discount ::::#}

<section class="uk-section uk-background-cover section-popular" style="background-image: url({{ url('assets/img/popular.jpg') }})" id="scrollTo--{{ currentLoop }}">

    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        <div class="uk-flex-center" data-uk-grid="data-uk-grid">

            {% if block.destinations|length %}

                {% set destinations = block.destinations.all() %}

                {% for destination in destinations %}

                    <div class="uk-width-1-2@l">

                        <div class="section-popular__destinations">

                            {% if destination.heading|length %}

                                <h2 class="uk-text-center section-popular__title">{{ destination.heading }}</h2>

                            {% endif %}
                            
                            {% if destination.locations|length %}

                                {% set locations = destination.locations.all() %}

                                <ul class="country-list" data-uk-grid="data-uk-grid">

                                    {% for location in locations %}

                                        <li class="country-list__item uk-width-1-2@s">

                                            {% if location.flag|length %}

                                                {% set asset = location.flag.one() %}
                                                
                                                <img src="{{ asset.getUrl() }}" alt="{{ location.title }} flag" class="country-list__icon">

                                            {% endif %}

                                            <span>{{ location.title }}</span>

                                        </li>
                                        
                                    {% endfor %}

                                </ul>

                            {% endif %}    

                        </div>

                    </div>
                    
                {% endfor %}

            {% endif %}

            <div class="uk-width-1-2@l">

                <div class="section-popular__discount-wrap">

                    {% if block.discounts|length %}

                        {% set discounts = block.discounts.all() %}

                        {% for discount in discounts %}

                            {% if discount.img|length %}

                                {% set bgAsset = discount.img.one() %}

                            {% endif %}
                            
                            <div class="section-popular__discount"{% if discount.img|length %} style="background-image: url('{{ bgAsset.getUrl() }}');"{% endif %}>

                                {% if discount.heading|length %}

                                    <h2 class="uk-text-center section-popular__title">{{ discount.heading }}</h2>

                                {% endif %}

                            </div>
                            
                        {% endfor %}

                    {% endif %}

                    {% if block.discountTabs|length %}

                        {% set discountTabs = block.discountTabs.all() %}

                        <div class="clearfix">

                            {% for discountTab in discountTabs %}

                                {% set tabLink = '#' %}

                                {% if discountTab.tabLink|length %}

                                    {% set tabLink = discountTab.tabLink.one().getUrl() %}

                                {% endif %}
                                    
                                <a class="uk-background-primary uk-padding-small uk-text-center section-popular__discount-link section-popular__discount-link--primary" href="{{ tabLink }}">

                                    {% if discountTab.heading|length %}

                                        <h3>{{ discountTab.heading }}</h3>

                                    {% endif %}

                                    {% if discountTab.text|length %}

                                        <p>{{ discountTab.text }}</p>

                                    {% endif %}

                                </a>
                                
                            {% endfor %}

                        </div>

                    {% endif %}

                </div>

            </div>

        </div>

    </div>

    {% if block.scrollArrow == 1 %}

        <a class="scroll-to scroll-to--inverse" href="#scrollTo--{{ nextLoop }}" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

    {% endif %}

</section>