{#:::: Block - Fast Choice ::::#}

<section class="uk-section section-fast-choice uk-background-primary" id="scrollTo--{{ currentLoop }}">
	
    <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
    	
        <div class="uk-flex uk-flex-middle uk-light title">
        	
            <div class="uk-width-1-5@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>

            {% if block.heading|length %}
            
                <div class="uk-flex uk-flex-center uk-width-expand@s">
                	
                    <h2 class="uk-margin-remove-bottom">{{ block.heading }}</h2>
                    
                </div>

            {% endif %}
                
            <div class="uk-width-1-5@s uk-visible@s">
            	
                <div class="uk-text-center section-fast-choice__ask uk-visible@xl">Ask Stew</div>
                
            </div>
            
        </div>

        {% if block.choices|length %}

            {% set choices = block.choices.all() %}

            <div class="uk-flex-center uk-grid-match uk-grid-small section-fast-choice__grid" data-uk-grid="data-uk-grid">

                {% for choice in choices %}

                    {% if choice.fastLink|length %}
                    
                        {% set choiceLink = choice.fastLink %}

                        <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                            
                            <a class="uk-background-default link-button" href="{{ choiceLink.url }}">{{ choice.heading }}</a>
                            
                        </div>

                    {% endif %}

                    {# {% if choice.choiceLink|length %}
                    
                                            {% set choiceLink = choice.choiceLink.one() %}
                    
                                            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
                                                
                                                <a class="uk-background-default link-button" href="{{ choiceLink.getUrl() }}">{{ choice.heading }}</a>
                                                
                                            </div>
                    
                                        {% endif %} #}
                    
                {% endfor %}
                
            </div>
            
            {# <div class="uk-text-center uk-margin-top uk-light">
                            
                            <a class="link-more" href="#" title="Link to more choices">+ More</a>
                            
                        </div> #}

        {% endif %}
        
        <img class="uk-visible@xl section-fast-choice__image" src="img/stew.png" srcset="img/stew@2x.png 2x" alt="Ask Stew" />
        
    </div>
    
</section>
