{#:::: Block - Follow Us ::::#}

<section class="section-follow-us" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;" id="scrollTo--{{ currentLoop }}">
	
	<div class="uk-container uk-position-relative uk-background-secondary">
		
	    <div data-uk-grid="data-uk-grid">
	    	
	        <div class="uk-width-1-2@s uk-width-1-2@l">
	        	
	            <div class="uk-flex uk-flex-center uk-flex-middle uk-light">
	            	
	                <div class="uk-margin-right"><span class="section-follow-us__icon" data-uk-icon="logo-mini-2"></span></div>

	                {% if followUs.copy|length %}

	                	<div>
	                	
	                		{{ followUs.copy|striptags }}
	                	
	                	</div>

	                {% endif %}
	                
	            </div>
	            
	        </div>

	        {% if followUs.socialMedia|length %}

	        	{% set socialMedia = followUs.socialMedia.all() %}

	        	<div class="section-follow-us__social uk-width-1-3@s uk-width-1-2@l">
		        	
		            <ul class="uk-flex uk-flex-middle uk-flex-wrap social">

		            	{% for media in socialMedia %}

		            		{% if media.mediaLink|length %}

		            			<li class="social__item">
				                	
				                    <a class="social__link" href="{{ media.mediaLink }}" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="{{ media.mediaType }}"></span></a>
				                    
				                </li>

		            		{% endif %}
		            		
		            	{% endfor %}
		                
		            </ul>
		            
		        </div>

	        {% endif %}
	        
	    </div>
	    
	</div>
	
</section>