{#:::: Block - Holiday List ::::#}

{% if block.showList == "1" %}

    {% set limit = 64 %}

    {% if block.verticallyScroll == 0 %}

        {% set limit = 999 %}

    {% endif %}

    {% if block.listLimit|length and block.listLimit > 0 %}

        {% set limit = block.listLimit %}

    {% endif %}

    {% set location = null %}

    {% if craft.app.request.getParam('location')|length  %}

        {% set location = craft.categories()
            .slug(craft.app.request.getParam('location'))
            .one()
        %}

    {% endif %}

    {% set type = null %}

    {% if craft.app.request.getParam('type')|length %}

        {% set type = craft.categories()
            .slug(craft.app.request.getParam('type'))
            .one()
        %}

    {% endif %}

    {% set group = null %}

    {% if craft.app.request.getParam('group') is defined %}

        {% set group = craft.app.request.getParam('group') %}

    {% endif %}

    
    {% if location != null and type == null %}

        {# {% set holidayQuery = craft.entries()
                    .section('holidays')
                    .relatedTo([location])
                    .limit(limit)
                %} #}

        {% paginate craft.entries
            .section('holidays')
            .relatedTo([location])
            .limit(limit)
        as pageInfo, holidays %}

    {% elseif location == null and type != null %}
        
        {# {% set holidayQuery = craft.entries()
                    .section('holidays')
                    .relatedTo([type])
                    .limit(limit)
                %} #}

        {% paginate craft.entries
            .section('holidays')
            .relatedTo([type])
            .limit(limit)
        as pageInfo, holidays %}

    {% elseif location != null and type != null %}

        {# {% set holidayQuery = craft.entries()
                    .section('holidays')
                    .relatedTo([location, type])
                    .limit(limit)
                %} #}

        {% paginate craft.entries
            .section('holidays')
            .relatedTo([location, type])
            .limit(limit)
        as pageInfo, holidays %}

    {% else %}
        
        {# {% set holidayQuery = craft.entries()
                    .section('holidays')
                    .limit(limit)
                %} #}

        {% paginate craft.entries
            .section('holidays')
            .limit(limit)
        as pageInfo, holidays %}

    {% endif %}

    {% if block.holidayOverride|length and block.holidayOverride is defined %}

        {% set holidays = block.holidayOverride.all() %}

    {% endif %}

    {# {% set holidays = holidayQuery.all() %} #}

	<section class="uk-section section-landing-holidays section-offers" id="scrollTo--{{ currentLoop }}">
		
        <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

            <div class="uk-text-center uk-margin-medium-bottom search-results">

                {% if location != null or type != null or group != null %}
            
                    <h2>Showing {{ pageInfo.total }} golf holiday{% if pageInfo.total != 1 %}s{% endif %}</h2>

                    <p>

                        Searching for - 

                        {% if craft.app.request.getParam('location') is defined and craft.app.request.getParam('location')|length %}

                            <strong>Location:</strong> <em>{{ craft.app.request.getParam('location')|replace({'-': ' '})|title }}</em>&nbsp;&nbsp;

                        {% endif %}

                        {% if craft.app.request.getParam('type') is defined and craft.app.request.getParam('type')|length %}

                            <strong>Holiday Type:</strong> <em>{{ craft.app.request.getParam('type')|replace({'-': ' '})|title }}</em>&nbsp;&nbsp;

                        {% endif %}

                        {% if craft.app.request.getParam('group') is defined and craft.app.request.getParam('group')|length %}

                            <strong>Number in Group:</strong> <em>{{ craft.app.request.getParam('group')|title }}</em>&nbsp;&nbsp;

                        {% endif %}

                    </p>

                {% endif %}
            
            </div>
        	
            <div class="uk-flex uk-flex-middle uk-margin-medium-bottom">
            	
                <div class="uk-text-muted uk-text-left uk-width-1-5@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>
                
            </div>

            {% set outerBlockClasses = "swiper-container slider-offers" %}
            {% set innerBlockClasses = "swiper-wrapper" %}
            {% set blockClasses = "swiper-slide" %}

            {% if block.verticallyScroll == 1 %}

                {% set outerBlockClasses = "" %}
                {% set innerBlockClasses = "uk-grid" %}
                {% set blockClasses = "uk-width-1-1 uk-width-1-2@s uk-width-1-4@m" %}

            {% endif %}
            
            <div class="{{ outerBlockClasses }}" uk-height-match=".offer__detail">
            	
                <div class="{{ innerBlockClasses }}" uk-height-match=".offer__title"{% if block.verticallyScroll == 1 %} uk-grid{% endif %}>
                	
                    {% for holiday in holidays %}

                        {% include 'holiday/_inc/_holiday' with { holiday : holiday, blockClasses : blockClasses } %}
                        
                    {% endfor %}
                    
                </div>
                
            </div>

            {% if block.verticallyScroll == 0 %}

                <a class="swiper-button-next uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-right"></span></a>
                
                <a class="swiper-button-prev uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-left"></span></a>

            {% endif %}

            {% if pageInfo.totalPages > 1 and block.verticallyScroll == 1 and block.holidayOverride|length < 1 %}

                <div class="pagination uk-padding uk-margin-top" uk-scrollspy="cls:uk-animation-slide-bottom-medium; offset-top: 150; delay: 250;">

                    <div class="uk-container">

                        <div class="pagination-wrapper">

                            <ul class="uk-pagination uk-flex-center" uk-margin>

                                {% if pageInfo.prevUrl %}

                                    <li class="pagination-previous"><a href="{{ pageInfo.prevUrl }}"><span uk-pagination-previous></span></a></li>

                                {% else %}
                                    
                                    <li class="pagination-previous"></li>

                                {% endif %}

                                {% for page, url in pageInfo.getPrevUrls(5) %}

                                    <li><a href="{{ url }}">{{ page }}</a></li>

                                {% endfor %}

                                <li class="uk-active"><span>{{ pageInfo.currentPage }}</span></li>

                                {% for page, url in pageInfo.getNextUrls(5) %}

                                    <li><a href="{{ url }}">{{ page }}</a></li>

                                {% endfor %}

                                {% if pageInfo.nextUrl %}

                                    <li class="pagination-next"><a href="{{ pageInfo.nextUrl }}"><span uk-pagination-next></span></a></li>

                                {% else %}
                                    
                                    <li class="pagination-next"></li>

                                {% endif %}

                            </ul>

                        </div>

                    </div>

                </div>

            {% endif %}
            
            {# <a class="uk-button section-landing-holidays__more" href="#">Show me more</a> #}
            
        </div>
        
    </section>
    
    {% if block.scrollArrow == 1 %}

		<a class="scroll-to" href="#scrollTo--{{ nextLoop }}" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

	{% endif %}

{% endif %}