{#:::: Block - Latest Offers ::::#}

<section class="uk-section section-offers" id="section-offers" id="scrollTo--{{ currentLoop }}">

    <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        <div class="uk-flex uk-flex-middle title">

            <div class="uk-text-muted uk-text-left uk-width-1-3@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>

            {% if block.heading|length %}

            	 <div class="uk-flex uk-flex-center uk-width-expand@s">

	                <h2 class="uk-margin-remove-bottom">{{ block.heading }}</h2>

	            </div>

            {% endif %}

            <div class="uk-text-right uk-width-1-3@s uk-visible@s">

                <button class="uk-button uk-button-default uk-button-medium"><span data-uk-icon="search"></span><span class="uk-text-uppercase">Search</span></button>

            </div>

        </div>

        {% if block.showLatestHolidays|length %}

        	{% set holidays = block.showLatestHolidays.all() %}

            {% set blockClasses = "swiper-slide" %}

        	<div class="swiper-container slider-offers" uk-height-match=".offer__detail">

	            <div class="swiper-wrapper" uk-height-match=".offer__title">

	            	{% for holiday in holidays %}

	            		{% include 'holiday/_inc/_holiday' with { holiday : holiday, blockClasses : blockClasses } %}
	            		
	            	{% endfor %}

	            </div>

	        </div>

	        <a class="swiper-button-next uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-right"></span></a>

	        <a class="swiper-button-prev uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-left"></span></a>

        {% endif %}   

    </div>

</section>

{% if block.scrollArrow == 1 %}

	<a class="scroll-to" href="#scrollTo--{{ nextLoop }}" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

{% endif %}