{#:::: Block - Newsletter Signup ::::#}

<section class="uk-section uk-background-muted" id="section-newsletter" id="scrollTo--{{ currentLoop }}">

    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        <form class="uk-form uk-position-relative uk-overflow-hidden uk-background-default uk-padding form-newsletter" action="#">

            <div class="form-newsletter__inner">

                {% if newsletterSignup.discount|length %}

                    <a class="uk-form-ribbon uk-background-primary uk-light" href="#">{{ newsletterSignup.discount }}</a>

                {% endif %}

                <div class="uk-title uk-text-center">

                    {% if newsletterSignup.heading|length %}

                        <h2>{{ newsletterSignup.heading }}</h2>

                    {% endif %}

                    {% if newsletterSignup.subHeading|length %}

                        <h3 class="uk-text-emphasis">{{ newsletterSignup.subHeading }}</h3>

                    {% endif %}

                    {{ newsletterSignup.copy }}

                </div>

                <div class="uk-flex-center uk-grid-match uk-margin-bottom" data-uk-grid="data-uk-grid">

                    <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input" type="text" name="username" placeholder="Name" /></div>

                    <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input" type="email" name="usermail" placeholder="Email Address" /></div>

                </div>

                <div class="uk-text-center uk-margin-bottom"><label><input class="uk-checkbox" type="checkbox" checked="" /><span class="uk-text-small uk-margin-small-left">I agree to the terms and conditions laid out in the Privacy Policy *</span></label></div>

                <div class="uk-text-center">

                    <button class="uk-button uk-button-default uk-button-large form-newsletter__submit" type="submit">Submit</button>

                </div>

            </div>

        </form>

    </div>

</section>  