{#:::: Block - Search Banner ::::#}

{% if block.slides|length %}

	{% set slides = block.slides.all() %}

	<section class="uk-section uk-padding-remove-top uk-padding-remove-bottom section-intro" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;" id="scrollTo--{{ currentLoop }}">

		<div class="uk-container uk-container-large uk-position-relative">

	        <div class="slider-intro" data-uk-slider="autoplay: true;">

	            <ul class="uk-slider-items">

	            	{% for slide in slides %}

	            		<li>

	            			{% if slide.img|length %}

	            				{% set asset = slide.img.one() %}

	            				<img class="slider-intro__image" src="{{ asset.getUrl() }}" srcset="{{ asset.getUrl() }} 2x" alt="{{ asset.title }}">

	            			{% endif %}

		                    <div class="slider-intro__caption uk-flex uk-flex-column uk-flex-center uk-light">

		                        <div class="slider-intro__caption-inner">

		                            {% if slide.heading|length %}

		                            	<div class="uk-flex uk-flex-center uk-flex-middle uk-background-primary"><span class="uk-margin-left" data-uk-icon="brand-icon"></span>

			                                <h2 class="uk-text-uppercase">{{ slide.heading|raw }}</h2>

			                            </div>

		                            {% endif %}

		                            {% if slide.text|length %}

		                            	<p class="uk-background-secondary">{{ slide.text }}</p>

		                            {% endif %}

		                            {% if slide.button|length %}

		                            	{% set attributes = {
										    class: 'uk-text-uppercase uk-background-dark'
										} %}

										{{ slide.button.link(attributes) }}
										 
		                            {% endif %}

		                        </div>

		                    </div>

		                </li>
	            		
	            	{% endfor %}

	            </ul>

        	</div>

        	{% include '_inc/_enquire-now' %}

	    </div>

	</section>

{% endif %}

{# Search section #}

<section class="uk-section uk-background-dark section-search" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

    <div class="uk-container uk-container-large">

        <div class="uk-container">

            <form class="uk-form uk-background-primary uk-overflow-hidden form-search" action="{{ url('holidays') }}" method="get">

                <a class="uk-form-ribbon uk-form-ribbon--new uk-background-primary-light uk-text-uppercase" href="#"><span>View</span><strong class="uk-light">New In</strong></a>

                {% if block.searchTitle|length %}

                	<h2 class="uk-text-center uk-light">{{ block.searchTitle }}</h2>

                {% endif %}

                <div class="form-search__container">

                    <div class="uk-flex-center uk-grid-small" data-uk-grid="data-uk-grid">

						{% set locationQuery = craft.categories()
						    .group('locations')
						    .level([1, 2])
						%}

						{% set locations = locationQuery.all() %}

						{% if locations|length %}

							<div class="uk-width-1-1 uk-width-1-3@s">

	                        	<label class="uk-form-label uk-light uk-text-uppercase">Location</label>

	                        	<select class="uk-select" name="location">

	                        		<option value="">Select location:</option>

	                        		{% for location in locations %}

	                        			<option value="{{ location.slug }}">

	                        				{% if location.level == 2 %}-- {% endif %}{{ location.title }}

	                        			</option>
	                        			
	                        		{% endfor %}

	                            </select>

	                        </div>

						{% endif %}	

						{% set holidayTypesQuery = craft.categories()
						    .group('holidayTypes')
						    .orderBy('title asc')
						%}

						{% set holidayTypes = holidayTypesQuery.all() %}

						{% if holidayTypes|length %}

	                        <div class="uk-width-1-1 uk-width-1-3@s">

	                        	<label class="uk-form-label uk-light uk-text-uppercase">Type of holiday</label>

	                        	<select class="uk-select" name="type">

	                        		<option value="">Select Holiday Type:</option>

	                                {% for holidayType in holidayTypes %}

	                        			<option value="{{ holidayType.slug }}">

	                        				{{ holidayType.title }}

	                        			</option>
	                        			
	                        		{% endfor %}

	                            </select>

	                        </div>

						{% endif %}

						{% set specialistToursQuery = craft.categories()
						    .group('specialistGolfTours')
						    .orderBy('title asc')
						%}

						{% set specialistTours = specialistToursQuery.all() %}

						{% if specialistTours|length %}

	                        <div class="uk-width-1-1 uk-width-1-3@s">

	                        	<label class="uk-form-label uk-light uk-text-uppercase">Specialist Tour</label>

	                        	<select class="uk-select" name="specialist-tour">

	                        		<option value="">Select Specialist Tour:</option>

	                                {% for specialistTour in specialistTours %}

	                        			<option value="{{ specialistTour.slug }}">

	                        				{{ specialistTour.title }}

	                        			</option>
	                        			
	                        		{% endfor %}

	                            </select>

	                        </div>

						{% endif %}

                    </div>

                </div>

                <div class="uk-flex">

                    <div class="uk-width-1-5@s uk-visible@s">

                        <div class="uk-light form-search__icon" data-uk-icon="logo-mini"></div>

                    </div>

                    <div class="uk-flex uk-flex-center uk-width-expand@s">

                        <button class="uk-button uk-button-default uk-button-large"><span data-uk-icon="search"></span><span class="uk-text-uppercase">Lets Golf</span></button>

                    </div>

                    <div class="uk-width-1-5@s uk-visible@s"></div>

                </div>

            </form>

        </div>

    </div>

</section>

{% if block.scrollArrow == 1 %}

	<a class="scroll-to" href="#scrollTo--{{ nextLoop }}" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

{% endif %}