{#:::: Block - Specialist Tours ::::#}

<section class="uk-section section-tours" id="section-tours" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;" id="scrollTo--{{ currentLoop }}">
	
    <div class="uk-container uk-container-expand">

        {% if specialistToursBlock.heading|length %}
    	
            <div class="uk-text-center">
            	
                <h2>{{ specialistToursBlock.heading }}</h2>
                
            </div>

        {% endif %}

        {% if specialistToursBlock.specialistTours|length %}

            {% set tours = specialistToursBlock.specialistTours.all() %}

            <div class="slider-tours" data-uk-slider="">
                
                <div class="uk-position-relative">
                    
                    <div class="uk-slider-container">
                        
                        <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l uk-child-width-1-4@xl">

                            {% for tour in tours %}

                                <li class="tour uk-light">

                                    <a class="tour__link uk-display-block" href="{{ tour.getUrl() }}">

                                        {% set thumb = {
                                            mode: 'crop',
                                            width: 900,
                                            height: 710,
                                            quality: 70,
                                            position: 'center-center'
                                        } %}

                                        {% set asset = null %}
                                    
                                        {% if tour.img|length %}

                                            {% set asset = tour.img.one() %}

                                        {% elseif defaults.img|length %}

                                            {% set asset = defaults.img.one() %}

                                        {% endif %}

                                        {% if asset != null %}

                                            <img class="tour__image" src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}" />

                                        {% endif %}

                                        <div class="tour__inner">
                                            
                                            <h3 class="tour__name">{{ tour.title }}</h3>
                                            
                                        </div>
                                    
                                    </a>
                                    
                                </li>
                                
                            {% endfor %}
                            
                        </ul>
                        
                    </div>
                    
                    <div>
                        
                        <a class="uk-position-center-left-out uk-position-small uk-button-square slider-tours__prev" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>
                        
                        <a class="uk-position-center-right-out uk-position-small uk-button-square slider-tours__next" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>
                        
                    </div>
                    
                </div>
                
            </div>

        {% endif %}
    
    </div>
    
</section>
