{#:::: Block - Specialist Tours ::::#}

<section class="uk-section section-tours" id="section-tours" id="scrollTo--{{ currentLoop }}">
	
    <div class="uk-container uk-container-expand" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        {% if block.heading|length %}
    	
            <div class="uk-text-center">
            	
                <h2>{{ block.heading }}</h2>
                
            </div>

        {% endif %}

        {% if block.tours|length %}

            {% set tours = block.tours.all() %}

            <div class="slider-tours" data-uk-slider="">
                
                <div class="uk-position-relative">
                    
                    <div class="uk-slider-container">
                        
                        <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l uk-child-width-1-4@xl">

                            {% for tour in tours %}

                                <li class="tour uk-light">

                                    {% if tour.tourLink|length %}

                                        {% set tourLink = tour.tourLink.one() %}

                                        <a class="tour__link uk-display-block" href="{{ tourLink.getUrl() }}">

                                    {% endif %}
                                    
                                        {% if tour.img|length %}

                                            {% set asset = tour.img.one() %}

                                            <img class="tour__image" src="{{ asset.getUrl() }}" alt="{{ asset.title }}" />

                                        {% endif %}
                                        
                                        {% if tour.heading|length %}

                                            <div class="tour__inner">
                                                
                                                <h3 class="tour__name">{{ tour.heading }}</h3>
                                                
                                            </div>
                                        
                                        {% endif %}    

                                    {% if tour.tourLink|length %}
                                        
                                        </a>

                                    {% endif %}
                                    
                                </li>
                                
                            {% endfor %}
                            
                        </ul>
                        
                    </div>
                    
                    <div>
                        
                        <a class="uk-position-center-left-out uk-position-small uk-button-square slider-tours__prev" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>
                        
                        <a class="uk-position-center-right-out uk-position-small uk-button-square slider-tours__next" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>
                        
                    </div>
                    
                </div>
                
            </div>

        {% endif %}
    
    </div>
    
</section>
