{#:::: Block - Testimonials ::::#}

<section class="uk-section uk-background-secondary" id="scrollTo--{{ currentLoop }}">

    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        {% if block.heading|length %}

            <div class="uk-text-center uk-light">

                <h2>{{ block.heading }}</h2>

            </div>

        {% endif %}
        
        {% if block.testimonials|length %}

            {% set testimonials = block.testimonials.all() %}

            <div class="slider-clients uk-position-relative" data-uk-slider="data-uk-slider">

                <ul class="uk-slider-items uk-child-width-1-1">

                    {% for testimonial in testimonials %}

                        <li>

                            <div class="uk-grid-large" data-uk-grid="data-uk-grid">

                                {% if testimonial.img|length %}

                                    {% set asset = testimonial.img.one() %}

                                    <div class="uk-width-1-1 uk-width-1-2@m">

                                        <img class="slider-clients__image" src="{{ asset.getUrl() }}" srcset="{{ asset.getUrl() }} 2x" alt="{{ asset.title }}" />

                                    </div>

                                {% endif %}
                                
                                <div class="uk-light uk-width-1-1 uk-width-1-2@m">

                                    <h3>{{ testimonial.title }}</h3>

                                    {{ testimonial.copy }}

                                    {% if testimonial.author|length %}

                                        <p>{{ testimonial.author }}</p>

                                    {% endif %}

                                </div>

                            </div>

                        </li>
                        
                    {% endfor %}

                </ul>

                <div class="uk-flex uk-flex-center uk-flex-middle slider-clients__controls">

                    <a class="uk-button-square slider-clients__arrow" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>

                    <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>

                    <a class="uk-button-square slider-clients__arrow" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>

                </div>

            </div>

        {% endif %}

    </div>

</section>