{#:::: Block - Text ::::#}

{% if block.copy|length %}

	<section class="uk-section section-landing-holidays section-offers section-text" id="scrollTo--{{ currentLoop }}">

	    <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

	        <div class="uk-text-left">

	            {{ block.copy }}

	        </div>

	    </div>

	</section>

{% endif %}