{#:::: Block - Why Book With Us ::::#}

{% if block.whyBlocks|length %}

    {% set whyBlocks = block.whyBlocks.all() %}

    <div class="uk-section uk-background-dark section-links" id="scrollTo--{{ currentLoop }}">

        <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

            <div class="uk-grid-small" data-uk-grid="data-uk-grid">

                {% for whyBlock in whyBlocks %}

                    <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">

                        {% if whyBlock.blockLink|length %}

                            <a class="uk-background-default link-button" href="{{ whyBlock.blockLink.one.getUrl() }}">{{ whyBlock.heading }}</a>

                        {% endif %}

                    </div>
                    
                {% endfor %}

            </div>

        </div>

    </div>

{% endif %}