{#:::: Block - Advertise ::::#}

<div class="payments-container">

	{% if block.heading|length %}

		<section class="section-heading uk-text-center uk-margin-auto-left uk-margin-auto-right">

			{{ block.heading }}

		</section>

	{% endif %}
						
	<section class="credits-section">

		{% if block.subHeading|length %}

			<div class="title">

				<p>{{ block.subHeading }}</p>

			</div>

		{% endif %}

		{% if block.creditBlocks|length %}

			<div uk-grid class="uk-flex-middle uk-grid-small">

				<div class="uk-width-3-5@m">

					<div class="switcher">

						<ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade; connect: #credit-switcher">

							{% for credit in block.creditBlocks.all() %}

							    <li>

							    	<a href="#">

							    		<span class="rnd"></span>

							    		<span>

							    			{% if credit.creditLabel|length %}

							    				{{ credit.creditLabel }}

							    			{% else %}
							    				
							    				Credit

							    			{% endif %}

							    		</span>

							    	</a>

								</li>

							{% endfor %}

						</ul>

					</div>

				</div>

				<div class="uk-width-2-5@m">

					<div class="enquire uk-text-right">

						<a href="#modal-enquire" uk-toggle>

							{% if block.moreCreditsLabel|length %}

								{{ block.moreCreditsLabel }}

							{% else %}
								
								Enquire for more credits

							{% endif %}

						</a>

					</div>

				</div>

			</div>

		{% endif %}

	</section>

	{% if block.creditBlocks|length %}

		<section class="credit-options">

			<ul id="credit-switcher" class="uk-switcher uk-margin">

				{% for credit in block.creditBlocks.all() %}

					<li>

				    	<div class="credit-choice" uk-height-match="target: .credit-element .details">

				    		<div uk-grid class="uk-child-width-1-2@m" uk-height-match="target: .credit-element .description">

				    			{% if credit.creditBlocks|length %}

				    				{% set creditBlocks = credit.creditBlocks.all() %}

				    				{% for creditBlock in creditBlocks %}

				    					<div>

						    				<div class="credit-element">

						    					{% if creditBlock.ribbon == 1 %}

						    						<img src="{{ url('assets/img/ribbon_price.svg') }}" alt="most popular ribbon" class="ribbon">

						    					{% endif %}	

						    					{% if creditBlock.heading|length %}

						    						<div class="title">

							    						<h3>{{ creditBlock.heading }}</h3>

							    					</div>

						    					{% endif %}
						    					
						    					{% if creditBlock.price|length %}

						    						<div class="price">

						    							{% spaceless %}

							    						<p>

							    							{{ creditBlock.price }}{% if creditBlock.priceLabel|length %}<span>{{ creditBlock.priceLabel }}</span>{% endif %}

							    						</p>

							    						{% endspaceless %}

							    					</div>

						    					{% endif %}

						    					{% if creditBlock.copy|length %}

						    						<div class="description">

							    						{{ creditBlock.copy }}

							    					</div>

						    					{% endif %}

						    					{% if creditBlock.details|length %}

						    						<div class="details">

							    						{{ creditBlock.details }}

							    					</div>

						    					{% endif %}

						    					<div class="enquire-btn">

						    						<a href="##">

						    							{% if creditBlock.buttonLabel|length %}

						    								{{ creditBlock.buttonLabel }}

						    							{% else %}
						    								
						    								Enquire now

						    							{% endif %}

						    						</a>

						    					</div>

						    				</div>

						    			</div>
				    					
				    				{% endfor %}

				    			{% endif %}

				    			<div></div>

				    		</div>

				    	</div>

				    </li>
					
				{% endfor %}

			</ul>

		</section>

	{% endif %}

</div>