{#:::: Block - Browse Jobs ::::#}

{# {{ block.heading }} Type: Plain Text #}
{# {{ block.jobCategories }} Type: Super Table #}

<section class="browse-jobs-section">

	{% if block.heading|length %}

		<div class="section-title">

			<h2>{{ block.heading }}</h2>

		</div>

	{% endif %}
	
	{% if block.jobCategories|length %}

		{% set ctas = block.jobCategories.all() %}

		<div class="browse-list">

			<div uk-grid class="uk-child-width-1-4@s uk-grid-small">

				{% for cta in ctas %}

					<div>

						{% if cta.catLink|length %}

							<a href="{{ cta.catLink.url }}" class="browse-el">

						{% endif %}

						{% if cta.icon|length %}

							{% set icon = cta.icon.one() %}

							<div class="image-wrap uk-flex uk-flex-middle uk-flex-center">

								<img src="{{ icon.getUrl() }}" height="61" alt="{{ icon.getUrl() }}">

							</div>

						{% endif %}

						{% if cta.heading|length %}

							<p>{{ cta.heading }}</p>

						{% endif %}

						{% if cta.catLink|length %}

							</a>

						{% endif %}

					</div>
					
				{% endfor %}

			</div>

		</div>

	{% endif %}
	
</section>