{#:::: Block - Form ::::#}

{# {{ block.copy }} Type: Redactor #}
{# {{ block.form }} Type: Freeform Form #}

<div class="contact-container">

	<div class="contact-section-wrapper">

		{% if block.copy|length %}

			<section class="contact-heading">

				{{ block.copy }}

			</section>

		{% endif %}
		
		{% if block.form|length %}

			<section class="general-form-section">

				<div class="form-block">

					{{ craft.freeform.form(block.form.handle).render() }}

				</div>

			</section>

		{% endif %}

	</div>

</div>