{#:::: Block - Hiring Companies ::::#}

{# {{ block.heading }} Type: Plain Text #}
{# {{ block.companies }} Type: Entries #}

<section class="companies-section">

	{% if block.heading|length %}

		<div class="section-title">

			<h2>{{ block.heading }}</h2>

		</div>

	{% endif %}
	
	{% set jobs = craft.entries()
	    .section('jobs')
	    .status('live')
	    .search('credit:"Featured"')
	    .limit(9999)
	    .all()
	%}

	{% set companies = [] %}

	{% for job in jobs %}

		{% if job.hiringCompany|length %}

	        {% if job.hiringCompany.one().id not in companies %}

	            {% set companies = companies|merge([job.hiringCompany.one().id]) %}

	        {% endif %}

	    {% endif %}
		
	{% endfor %}

	{% set ids = [] %}

	{% set companies = shuffle(companies) %}

	{% for key,company in companies|slice(0, 6) %}

		{% set ids = ids|merge([company]) %}

    {% endfor %}

    {% set companies = craft.entries()
    	.id(ids)
	    .section('hiringCompanies')
	    .limit(6)
	    .orderBy('RAND()')
	    .all()
	%}

	<div class="companies-list">

		<div class="companies-carousel uk-flex uk-flex-middle" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "prevNextButtons": false, "watchCSS": true }'>

			{% for company in companies %}
				
				<div class="carousel-cell">

					<a href="{{ company.getUrl() }}">

						{% if company.img|length %}

							{% set asset = company.img.one() %}

							<img src="{{ asset.getUrl() }}" width="152" alt="{{ asset.title }}">

						{% else %}
							
							{{ company.title }}

						{% endif %}
					
					</a>
					
				</div>
				
			{% endfor %}

		</div>

	</div>

</section>