{#:::: Block - Images & Copy ::::#}

{# {{ block.heading }} Type: Plain Text #}
{# {{ block.imageCopy }}Type: Super Table #}

<div class="img-copy-container">

	<section class="why-us-section">

		{% if block.heading|length %}

			<div class="title uk-text-center">

				{{ block.heading }}

			</div>

		{% endif %}

		{% if block.imageCopy|length %}

			{% set rows = block.imageCopy.all() %}

			<div class="why-us-list">

				{% for row in rows %}

					<div class="why-el uk-flex">

						{% if row.img|length %}

							{% set asset = row.img.one() %}

							<div class="icon-block">

								<img src="{{ asset.getUrl() }}" width="110" alt="{{ asset.title }}">

							</div>

						{% endif %}

						{% if row.heading|length or row.copy|length %}
						
							<div class="text-block">

								{% if row.heading|length %}

									<h3>{{ row.heading }}</h3>

								{% endif %}

								{{ row.copy }}

							</div>

						{% endif %}

					</div>
							
				{% endfor %}

			</div>

		{% endif %}

	</section>

</div>