{#:::: Block - Job Search ::::#}

{# {{ block.heading }} Type: Plain Text #}
{# {{ block.showSearch }} Type: Lightswitch #}

<div class="search-jobs-container">

    {% if block.heading|length %}
        
        <section class="heading-general uk-text-center">

            {{ block.heading }}

        </section>
        
    {% endif %}

    {% if block.showSearch == 1 %}
    
        <section class="search-form search-jobs-form">

            <div class="bg">

                <form action="">

                    <div class="main-form uk-flex uk-flex-middle">

                        <div class="form-wrapper uk-flex uk-flex-middle">

                            <div class="form-element">

                                <input class="uk-input" name="keyword" type="text" placeholder="Keyword e.g. Engineering, Sales">

                            </div>

                            <div class="form-element">

                                <select>

                                        <option value="">Select Job type</option>
                                        <option value="1">Option 01</option>
                                        <option value="2">Option 02</option>
                                        <option value="3">Option 03</option>
                                        <option value="4">Option 04</option>
                                    </select>

                            </div>

                        </div>

                        <div class="form-element">

                            <button type="submit" class="search-btn">Search</button>

                        </div>

                    </div>

                    <div class="more-options">

                        <ul uk-accordion>

                            <li>

                                <div class="uk-accordion-content">

                                    <div uk-grid class="uk-grid-collapse uk-child-width-1-3@m">

                                        <div>

                                            <div class="form-element">

                                                <select>

                                                    <option value="">Sector</option>
                                                    <option value="1">Option 01</option>
                                                    <option value="2">Option 02</option>
                                                    <option value="3">Option 03</option>
                                                    <option value="4">Option 04</option>
                                                </select>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="form-element">

                                                <select>

                                                    <option value="">Job Role</option>
                                                    <option value="1">Option 01</option>
                                                    <option value="2">Option 02</option>
                                                    <option value="3">Option 03</option>
                                                    <option value="4">Option 04</option>
                                                </select>

                                            </div>

                                        </div>

                                        <div>

                                            <div class="form-element">

                                                <select>

                                                    <option value="">Added</option>
                                                    <option value="1">Option 01</option>
                                                    <option value="2">Option 02</option>
                                                    <option value="3">Option 03</option>
                                                    <option value="4">Option 04</option>
                                                </select>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <a class="uk-accordion-title" uk-toggle="target: #additional-info, #more, #less; cls: opened" href="#"><span id="more">More</span><span id="less">Less</span> options »</a>

                            </li>

                        </ul>

                    </div>



                </form>

            </div>

        </section>
        
        <section class="featured-jobs">

            <div class="heading-general uk-text-center">

                <h2>Featured Jobs</h2>

            </div>

            <div class="jobs-list-results">

                <div class="job-single-element">

                    <div uk-grid class="uk-flex-middle uk-grid-small">

                        <div class="uk-width-2-3@s">

                            <div class="job-information">

                                <div class="title">

                                    <h3>Sales Office Assistant</h3>

                                </div>

                                <div class="details">

                                    <p>Details</p>

                                    <ul>

                                        <li><span>Location</span> Waterbeach, Cambridgeshire, England</li>

                                        <li><span>Salary</span> £8.46 Hourly Permanent</li>

                                    </ul>

                                </div>

                                <div class="description">

                                    <p>We currently have an exciting opportunity to join our client who has more than 30 years' experience in manufacturing and supplying high purity solvents, acids, reagents and reference materials as a Sales office assistant.The roleThe main function of this role is to ensure the smooth running of the sales office...</p>

                                </div>

                                <div class="read-more">

                                    <a href="##">Read more</a>

                                </div>

                            </div>

                        </div>

                        <div class="uk-width-1-3@s">

                            <div class="image uk-text-center">

                                <img src="assets/img/1bp-logo-big.png"alt="">

                            </div>

                        </div>

                    </div>

                </div>

                <div class="job-single-element">

                    <div uk-grid class="uk-flex-middle uk-grid-small">

                        <div class="uk-width-2-3@s">

                            <div class="job-information">

                                <div class="title">

                                    <h3>Sales Office Assistant</h3>

                                </div>

                                <div class="details">

                                    <p>Details</p>

                                    <ul>

                                        <li><span>Location</span> Waterbeach, Cambridgeshire, England</li>

                                        <li><span>Salary</span> £8.46 Hourly Permanent</li>

                                    </ul>

                                </div>

                                <div class="description">

                                    <p>We currently have an exciting opportunity to join our client who has more than 30 years' experience in manufacturing and supplying high purity solvents, acids, reagents and reference materials as a Sales office assistant.The roleThe main function of this role is to ensure the smooth running of the sales office...</p>

                                </div>

                                <div class="read-more">

                                    <a href="##">Read more</a>

                                </div>

                            </div>

                        </div>

                        <div class="uk-width-1-3@s">

                            <div class="image uk-text-center">

                                <img src="assets/img/intebridge-capital-white-background-big.png" alt="">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

    {% endif %}

</div>