{% spaceless %}

{#:::: Block - Job Search ::::#}

{# {{ block.heading }} Type: Redactor #}
{# {{ block.showListing }} Type: Lightswitch #}

{% set related = null %}
{% set keywords = null %}
{% set search = null %}
{% set results = false %}
{% set resultText = [] %}

{# Post form variable #}

{# Keywords #}

{% if craft.app.request.getParam('keywords') is defined and craft.app.request.getParam('keywords')|length %}

    {% set search = craft.app.request.getParam('keywords')~' ' %}

    {% set keywords = craft.app.request.getParam('keywords') %}

    {% set results = true %}

    {% set resultText = resultText|merge([search]) %}

{% endif %}

{# Sector #}

{% if craft.app.request.getParam('sector') is defined and craft.app.request.getParam('sector')|length %}

    {% set catLocations = craft.categories()
        .slug(craft.app.request.getParam('sector'))
    %}

    {% if related == null %}

        {% set related = catLocations %}

    {% else %}
        
        {% set related = related|merge([catLocations]) %}

    {% endif %}

    {% set results = true %}

    {% set resultText = resultText|merge([catLocations.one().title]) %}

{% endif %}

{# Type of Employment #}

{% if craft.app.request.getParam('typeOfEmployment') is defined and craft.app.request.getParam('typeOfEmployment')|length %}

    {% set typeOfEmployment = craft.app.request.getParam('typeOfEmployment') %}

    {% set search = search ~ 'typeOfEmployment:"'~typeOfEmployment~'" ' %}

    {% set results = true %}

    {% set resultText = resultText|merge([typeOfEmployment]) %}

{% endif %}

{# Contract Type #}

{% if craft.app.request.getParam('contractType') is defined and craft.app.request.getParam('contractType')|length %}

    {% set contractType = craft.app.request.getParam('contractType') %}

    {% set search = search ~ 'contractType:"'~contractType~'"' %}

    {% set results = true %}

    {% set resultText = resultText|merge([contractType]) %}

{% endif %}

{% if resultText|length == 0 %}

    {% set keywords = 'credit:"Featured"' %}

{% endif %}

{# Entry Query #}

{% set query = craft.entries()
    .section('jobs')
    .search(search)
    .limit(10)
    .orderBy('credit desc, postDate desc')
    .relatedTo(related)
%}

{% endspaceless %}

<div class="{% if results == false %}search-jobs-container{% else %}search-results-container{% endif %}">

    {% if block.heading|length and results == false %}
        
        <section class="heading-general uk-text-center">

            {{ block.heading }}

        </section>
        
    {% endif %}

    {% if block.showListing == 1 %}

        <section class="search-form search-jobs-form">

            <div class="bg">

                {% include '_inc/_job-search-form' %}

            </div>

        </section>

        {# Job Listing #}

        {% paginate query as info, jobs %}
        
        <section class="featured-jobs">

            <div class="heading-general uk-text-center">

                {% spaceless %}

                    {% if results == true %}

                        <h2>{{ info.total }} result{% if info.total != 1 %}s{% endif %} for {% for result in resultText %}{% if loop.last and resultText|length != 1 %} and {% elseif not loop.first %}, {% endif %}<span>{{ result|trim }}</span>{% endfor %}</h2>

                    {% else %}
                        
                        <h2>Showing <span>{{ info.total }} Job{% if info.total != 1 %}s{% endif %}</span></h2>

                    {% endif %}

                {% endspaceless %}

            </div>

            <div class="jobs-list-results">

                {% for job in jobs %}

                    {% include 'jobs/_job-list' %}
                    
                {% endfor %}

            </div>

        </section>

        {# Pagination #}

        {% include 'jobs/_pagination' %}

    {% endif %}

</div>