{#:::: Block - Browse Jobs ::::#}

{# {{ block.copy }} Type: Redactor #}
{# {{ block.sidebar }} Type: Redactor #}
{# {{ block.addForm }} Type: Super Table #}

<div class="about-container">

	{% set colWidth = "uk-width-1-1" %}

	{% if block.sidebar|length %}

		<img src="{{ url('assets/img/oval_desctiption.png') }}" height="725" width="726" class="oval-description">

		{% set colWidth = "uk-width-2-3@m" %}

	{% endif %}

	<section class="about-us-section">

		<div uk-grid>

			<div class="{{ colWidth }}">

				<div class="about-text-block">

					{{ block.copy }}

				</div>	

			</div>

			{% if block.sidebar|length %}

				<div class="uk-width-1-3@m">

					<div class="about-text-details">

						<div class="text-info">

							{{ block.sidebar }}

						</div>

					</div>

				</div>

			{% endif %}

		</div>

	</section>

	{% if block.addForm|length %}

		{% for form in block.addForm.all() %}

			<section class="general-form-section">

				<div class="general-form">

					{% if form.heading|length %}

						<div class="form-title">

							<h2>{{ form.heading }}</h2>

						</div>

					{% endif %}

					{% if form.form|length %}

						<div class="form-block">

							{% if form.copy|length %}

								<div class="title">

									{{ form.copy }}

								</div>

							{% endif %}

							{{ craft.freeform.form(form.form.handle).render() }}

						</div>

					{% endif %}

				</div>

			</section>
			
		{% endfor %}

	{% endif %}

</div>