{#:::: Block - Search Block ::::#}

{# {{ block.intro }} Type: Redactor #}
{# {{ block.img }} Type: Assets #}
{# {{ block.showSearchBar }} Type: Lightswitch #}

{% set blocks = entry.searchBanner.all() %}

{% for block in blocks %}

	{% if block.img|length %}

		{% set transform = {
		    mode: 'crop',
		    width: 1450,
		    quality: 70,
		    position: 'center-center'
		} %}

		{% set asset = block.img.one() %}

		<img src="{{ asset.getUrl(transform) }}" alt="{{ asset.title }}" class="girl" style="max-width: 725px; height: auto;">

	{% endif %}
	
	{% if block.intro|length %}

		<section class="section-heading">

			{{ block.intro }}

		</section>

	{% endif %}
	
	{% if block.showSearchBar == 1 %}
		
		<section class="search-form">

			<div class="bg">

				<div class="title">

					<p>Search our latest jobs</p>

				</div>

				{% set results = false %}

				{% include '_inc/_job-search-form' %}

			</div>

			{% set jobs = craft.entries()
			    .section('jobs')
			    .status('live')
			    .limit(9999)
			    .all()
			%}

			{% set companies = craft.entries()
			    .section('hiringCompanies')
			    .status('live')
			    .limit(9999)
			    .all()
			%}

			<div id="additional-info" class="additional-info">

				<p><span>{{ jobs|length }}</span> job ad{% if jobs|length != 1 %}s{% endif %} | <span>{{ companies|length }}</span> {% if companies|length != 1 %}companies{% else %}company{% endif %}</p>

			</div>

		</section>

	{% endif %}
	
{% endfor %}