{#:::: Global - Footer ::::#}

<footer class="footer uk-background-primary">

    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

        <div class="uk-flex-center uk-grid-match" data-uk-grid>

            <div class="uk-width-1-1 uk-width-1-2@s">

                {% set nodes = craft.navigation.nodes()
                    .handle('footer')
                    .all()
                %}

                {% if nodes|length %}

                    <div class="uk-width-1-1 uk-width-1-2@s uk-visible@s">

                        <h3>Popular Golf Holidays</h3>

                        <ul class="uk-list">

                            {% nav node in nodes %}

                                <li>{{ node.link }}</li>

                            {% endnav %}

                            {#  <a class="footer__link" href="#">Algarve Golf Holidays</a> #}

                        </ul>

                    </div>

                {% endif %}

                {% set nodes = craft.navigation.nodes()
                    .handle('footerMoreInfo')
                    .all()
                %}

                {% if nodes|length %}

                    <div class="uk-width-1-1 uk-width-1-2@s">

                        <h3>More Info</h3>

                        <ul class="uk-list">

                            {% nav node in nodes %}

                                <li>{{ node.link }}</li>

                            {% endnav %}

                        </ul>

                    </div>

                {% endif %}

            </div>

            <div class="uk-width-1-1 uk-width-1-2@s">

                {% if socialMedia.socialMedia|length %}

                    {% set links = socialMedia.socialMedia.all() %}

                    <div class="footer__social uk-width-1-1 uk-width-expand">

                        <h3>Follow Us</h3>

                        <ul class="uk-flex uk-flex-middle uk-flex-wrap social">

                            {% for link in links %}

                                <li class="social__item">

                                    <a class="social__link" href="{{ link.mediaLink }}" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="{{ link.mediaType }}"></span></a>

                                </li>
                                
                            {% endfor %}        
                           
                        </ul>

                    </div>

                {% endif %}

                {% if footerContact|length %}

                    <div class="uk-margin-auto-left uk-width-1-1 uk-width-1-2@s uk-width-1-3@l">

                        <h3>Our Details</h3>

                        <address class="address">

                            {% if footerContact.address|length %}

                                {{ footerContact.address }}

                            {% endif %}

                            {% if footerContact.phoneNumber|length %}

                                <p><a class="footer__link" href="tel:{{ footerContact.phoneNumber }}">M. {{ footerContact.phoneNumber }}</a></p>

                            {% endif %}

                            {% if footerContact.faxNumber|length %}

                                <p><a class="footer__link" href="tel:{{ footerContact.faxNumber }}">M. {{ footerContact.faxNumber }}</a></p>

                            {% endif %}
                            
                            {% if footerContact.email|length %}

                                <p><a class="footer__link" href="mailto:{{ footerContact.email }}">{{ footerContact.email }}</a></p>

                            {% endif %}

                        </address>

                    </div>

                {% endif %}  

                <div class="uk-width-1-1">

                    <div class="footer__logo">

                        <a class="logo-white" href="#">

                            <img src="/assets/img/logo-full.svg" alt="Golf Holiday Shop Logo" width="361" height="91">

                        </a>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="footer__bottom uk-background-dark uk-padding"></div>

</footer>