{#:::: Global - Header ::::#}

<header class="header" data-uk-sticky data-uk-scrollspy="cls: fadeInDown animated; delay: 250; repeat: false;">

    <div class="header__inner uk-position-relative">

        <div class="uk-flex uk-flex-between uk-flex-middle">

            <div class="header__logo">

                <a class="logo" href="{{ url() }}">

                    <h1>Golf Holiday Shop Logo</h1>

                    <img class="logo__img" src="/assets/img/logo-full-color.svg" alt="Golf Holiday Shop Logo" width="280" height="74">

                    <div class="logo__inner"></div>

                </a>

            </div>

            <div class="mobile-menu uk-text-primary uk-hidden@s">

                <button class="mobile-menu__open" data-uk-icon="menu" data-uk-toggle="target: #offcanvas-slide; animation: uk-animation-slide-left"></button>

                <button class="mobile-menu__close" data-uk-close><span data-uk-icon="close"></span></button>

            </div>

            <a class="uk-visible@l uk-flex uk-flex-none logo-pts" href="https://www.protectedtrustservices.com" target="_blank" rel="noopener noreferrer">

                <img src="/assets/img/logo-pts.png" srcset="/assets/img/logo-pts.png 2x" alt="Protected Trust Services Logo" width="185" height="71" title="Protected Trust Services">

            </a>

        </div>

        <div class="header__nav uk-flex uk-flex-between uk-flex-middle">

            <div class="uk-width-auto">

                <div class="header__logo"></div>

                <div class="mobile-menu" id="offcanvas-slide" data-uk-offcanvas="">

                    <div class="uk-offcanvas-bar mobile-menu__bar">

                        <nav class="uk-navbar-container nav" id="mobile-menu" data-uk-navbar="dropbar: true; dropbar-mode: push">

                            <div class="uk-navbar-left">

                                {# Navigation #}

                                {% set nodes = craft.navigation.nodes()
                                    .handle('main')
                                    .level(1)
                                    .all() %}

                                <ul class="uk-navbar-nav">

                                    {% nav node in nodes %}

                                        <li>

                                            <a href="#"><span class="uk-hidden@s uk-margin-small-right uk-text-emphasis" data-uk-icon="form-select-chevron-down"></span><span>{{ node.title }}</span></a>

                                            <div class="uk-navbar-dropdown uk-navbar-dropdown--main">

                                                <div class="uk-container">

                                                    <h2 class="uk-text-center">Select your interest...</h2>

                                                    {% set nodesLv2 = craft.navigation.nodes()
                                                        .handle('main')
                                                        .descendantOf(node)
                                                        .level(2)
                                                        .all() %}

                                                    {% if nodesLv2|length %}

                                                        <div class="uk-navbar-dropdown__content uk-position-relative" data-uk-grid>

                                                            {% for node in nodesLv2 %}

                                                                <div data-uk-height-match=".uk-navbar-dropdown-nav">

                                                                    {% set nodesLv3 = craft.navigation.nodes()
                                                                        .handle('main')
                                                                        .descendantOf(node)
                                                                        .level(3)
                                                                        .limit(20)
                                                                        .all() %}
                                            
                                                                    <button class="uk-navbar-dropdown__button{% if loop.first %} uk-active{% endif %}" type="button">

                                                                        {{ node.title }}

                                                                    </button>

                                                                    {% if nodesLv3|length %}

                                                                        <div class="uk-nav uk-navbar-dropdown-nav">
                
                                                                            <div class="uk-child-width-1-4@s" data-uk-grid>

                                                                                {% for node in nodesLv3 %}

                                                                                    {{ cycle(['<div><ul>', '', '', '', ''], loop.index0)|raw }}

                                                                                    <li>

                                                                                        <a href="{{ node.url }}">{{ node.title }}</a>

                                                                                    </li>
                                                                                            
                                                                                    {{ cycle(['', '', '', '', '</ul></div>'], loop.index0)|raw }}

                                                                                {% endfor %}

                                                                                {% if not nodesLv3|length is divisible by(5) %}

                                                                                    </ul></div>

                                                                                {% endif %}
                
                                                                            </div>
                
                                                                        </div>

                                                                    {% endif %}
            
                                                                </div>
                                                                
                                                            {% endfor %}  

                                                        </div>

                                                    {% endif %}

                                                </div>

                                            </div>

                                        </li>

                                    {% endnav %}

                                </ul>

                            </div>

                        </nav>

                        <div class="uk-navbar-dropbar"></div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</header>
