.uk-dotnav {
    padding-right: 15px;
    padding-left: 15px;

    @media (min-width: @breakpoint-small) {
        padding-right: 30px;
        padding-left: 30px;
    }

    > * {
        margin-top: 6px;
        margin-bottom: 6px;
    }
}