@form-background: @global-background;
@form-color: @global-color;

.uk-input {
    font-size: @global-font-size;
    background-color: @form-background;
    padding: 24px 22px;
    color: @form-color;

    &:hover,
    &:active,
    &:focus {
        border-color: @global-primary-color;
    }
}

.uk-input,
.uk-select:not([multiple]):not([size]) {
    min-height: 40px;
    height: auto;
    padding: 9px 10px 9px 20px;
}

.uk-textarea {
    padding: 9px 10px 9px 20px;
}