.slider-blogs {
    margin-bottom: 40px;

    &__arrow {
        margin-top: 40px;
        margin-right: 20px;
        margin-left: 20px;
    }

    &__more {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid @global-color;
        text-transform: none;

        &:hover,
        &:active,
        &:focus {
            background-color: @button-default-background;
            color: @global-inverse-color;
        }
    }
}