.section-popular {
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: @breakpoint-small) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    .uk-container {
        margin-bottom: 0;

        @media (min-width: @breakpoint-small) {
            margin-bottom: 100px;
        }
    }

    &__destinations {
        margin-bottom: 50px;
        padding: 30px 15px;
        background-color: rgba(255, 255, 255, 0.8);

        @media (min-width: @breakpoint-large) {
            padding: 30px;
        }

        @media (min-width: @breakpoint-large) {
            padding: 30px 70px;
            margin-bottom: 100px;
        }
    }

    &__discount {
        min-height: 244px;
        padding: 30px 30px;
        background-image: url("../img/discount.jpg");
        background-size: cover;
        background-position: center center;

        @media (min-width: @breakpoint-large) {
            padding: 30px 70px;
        }
    }

    &__discount-link {
        float: left;
        width: 100%;
        color: @global-inverse-color;

        @media (min-width: @breakpoint-small) {
            width: calc(100% / 3);
        }

        &:hover,
        &:active,
        &:focus {
            color: @global-inverse-color;
        }

        &--primary {
            padding-bottom: 15px;

            @media (min-width: @breakpoint-small) {
                padding-bottom: 45px;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: darken(@button-primary-background, 5%);;
            }
        }

        &--secondary {
            padding-bottom: 15px;

            @media (min-width: @breakpoint-small) {
                padding-bottom: 25px;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: darken(@button-secondary-background, 5%);;
            }
        }

        &--warning {
            padding-bottom: 15px;

            @media (min-width: @breakpoint-small) {
                padding-bottom: 35px;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: darken(@button-warning-background, 5%);;
            }
        }
    }

    &__discount-wrap {
        h3 {
            .font-size(20);
            margin-bottom: 0;
            color: @global-inverse-color;

            @media (min-width: @breakpoint-large) {
                .font-size(27);
            }
        }
        p {
            .font-size(14);
            margin-bottom: 0;
        }
    }

    &__title {
        font-weight: 400;
        .font-size(20);

        @media (min-width: @breakpoint-small) {
            .font-size(30);
        }
    }
}