.tour {
    position: relative;

    &__image {
        width: 100%;
        height: 355px;
        object-fit: cover;
        opacity: 0.6;
        transition-duration: @global-transition-duration;
    }

    &__inner {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 30px;
        padding-right: 20px;

        @media (min-width: @breakpoint-small) {
            padding-bottom: 70px;
            padding-left: 40px;
        }
    }

    &__link {
        position: relative;
        background-color: @global-primary-background;

        &:hover,
        &:active,
        &:focus {

            .tour__image {
                opacity: 1;
            }
        }
    }

    &__name {
        font-weight: 900;
        .font-size(24);
        text-transform: uppercase;
        
        @media (min-width: @breakpoint-large) {
            .font-size(36);
        }
    }
}