.blog {
    border-bottom: 1px solid @global-primary-color-light;

    &__date {
        font-weight: 600;
    }

    &__detail {
        padding: 15px 10px 40px;
    }

    &__image {
        height: 228px;

        img {
            width: 100%;
            height: 228px;
            object-fit: cover;
        }
    }
}