.section-follow-us {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    margin-top: 0;
    .font-size(16);
    font-weight: 600;
    background-color: rgba(255,255,255,0.7);

    @media (min-width: @breakpoint-small) {
        .font-size(30);
        margin-top: -75px;
    }

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 75px;
        background-color: @global-muted-background;
    }

    .uk-container {
        padding: 30px 15px;

        @media (min-width: @breakpoint-small) {
            padding: 30px;
        }

        &:before {
            @media (min-width: @breakpoint-large) {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                left: -40px;
                border-style: solid;
                border-width: 75px 0 0 40px;
                border-color: @global-primary-color transparent transparent transparent;
            }
        }

        &:after {
            @media (min-width: @breakpoint-large) {
                content: "";
                display: block;
                position: absolute;
                bottom: 0;
                right: -40px;
                border-style: solid;
                border-width: 75px 40px 0 0;
                border-color: @global-primary-color transparent transparent transparent;
            }
        }
    }

    &__icon {
        width: 80px;

        @media (min-width: @breakpoint-small) {
            width: auto;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (min-width: @breakpoint-small) {
            margin-left: auto;
        }

        @media (min-width: @breakpoint-large) {
            justify-content: center;
        }
    }

    &__tel {
        &:hover,
        &:active,
        &:focus {
            color: @global-color !important;
        }
    }
}