@link-button-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.25);

.link-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 26px;
    font-weight: 500;
    .font-size(15);
    box-shadow: @link-button-shadow;
    text-transform: uppercase;

    &:hover,
    &:focus,
    &:active {
        background-color: @button-default-hover-background;
        color: @button-default-hover-color;
    }
}