mixin uk-card(title, description, className)
    .uk-card.uk-card-default.uk-card-body
        h3.uk-card-title.uk-text-uppercase= title
        p= description
        a.uk-button.uk-card-link(href='#' class=`${className}`) More Info
