include ../quick-search/quick-search
include ../quick-search-toggle/quick-search-toggle

mixin section-intro-blog
    section.section-intro-blog.uk-position-relative(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;")
        img(src="img/clients.jpg" srcset="img/clients@2x.jpg 2x" alt="Blog article image" width="1727" height="471").section-intro-blog__image
        .uk-container
            .section-intro-blog__inner.uk-position-absolute.uk-position-top-left
                .section-intro-blog__title.uk-flex.uk-flex-center.uk-flex-middle.uk-padding-small.uk-background-primary.uk-light
                    .uk-width-1-1.uk-flex
                        div(class="uk-width-1-5")
                            span.uk-margin-right(data-uk-icon="brand-icon")
                        .uk-text-center(class="uk-width-expand@s")
                            h2.uk-margin-remove-bottom Blog Title
                        div(class="uk-width-1-5")
    +quick-search
    +quick-search-toggle