.section-intro-blog {
    background-image: url(../img/links-bg.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: @global-color;

    @media (min-width: @breakpoint-small) {
        height: 470px;
    }

    h2 {
        font-weight: 400;
    }

    &__image {
        display: block;
        max-width: 1140px;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        min-height: auto;
        object-fit: cover;

        @media (min-width: @breakpoint-small) {
            height: 470px;
        }
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    &__title {
        display: flex;
        align-items: center;
        max-width: 600px;
        width: 100%;
        color: @global-inverse-color;
    }
}