{#:::: Blog Detail ::::#}

{% extends "_layout" %}

{% set templateName = 'temp--blog-detail' %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    <main class="main">

    	<section class="section-intro-blog uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

            {% if entry.bannerImage|length %}

            	{% set asset = entry.bannerImage.one() %}

            	<img class="section-intro-blog__image" src="{{ asset.getUrl() }}" srcset="{{ asset.getUrl() }} 2x" alt="{{ entry.title }}" {# width="1727" height="471" #} />

            {% endif %}

            <div class="uk-container">

                <div class="section-intro-blog__inner uk-position-absolute uk-position-top-left">

                    <div class="section-intro-blog__title uk-flex uk-flex-center uk-flex-middle uk-padding-small uk-background-primary uk-light">

                        <div class="uk-width-1-1 uk-flex">

                            <div class="uk-width-1-5"><span class="uk-margin-right" data-uk-icon="brand-icon"></span></div>

                            <div class="uk-text-center uk-width-expand@s">

                                <h2 class="uk-margin-remove-bottom">{{ entry.title }}</h2>

                            </div>

                            <div class="uk-width-1-5"></div>

                        </div>

                    </div>

                </div>

            </div>

        </section>

        <div class="quick-search" id="quick-search" hidden="hidden">

            <button class="quick-search__close" type="button" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left">

            <span data-uk-icon="close"></span></button>

            <form class="uk-form uk-background-primary uk-overflow-hidden form-search">
                <a class="uk-form-ribbon uk-form-ribbon--new uk-background-primary-light uk-text-uppercase" href="#"><span>View</span><strong class="uk-light">New In</strong></a>
                <h2 class="uk-text-center uk-light">Find Your Next Golf Holiday</h2>
                <div class="form-search__container">
                    <div class="uk-flex-center uk-grid-small" data-uk-grid="data-uk-grid">
                        <div class="uk-width-1-1 uk-width-1-3@s"><label class="uk-form-label uk-light uk-text-uppercase">Location</label><select class="uk-select">
                                <option>option1</option>
                                <option>option2</option>
                            </select></div>
                        <div class="uk-width-1-1 uk-width-1-3@s"><label class="uk-form-label uk-light uk-text-uppercase">Number in group</label><select class="uk-select">
                                <option>option1</option>
                                <option>option2</option>
                            </select></div>
                        <div class="uk-width-1-1 uk-width-1-3@s"><label class="uk-form-label uk-light uk-text-uppercase">Type of holiday</label><select class="uk-select">
                                <option>option1</option>
                                <option>option2</option>
                            </select></div>
                    </div>
                </div>
                <div class="uk-flex">
                    <div class="uk-width-1-5@s uk-visible@s">
                        <div class="uk-light form-search__icon" data-uk-icon="logo-mini"></div>
                    </div>
                    <div class="uk-flex uk-flex-center uk-width-expand@s">
                        <button class="uk-button uk-button-default uk-button-large"><span data-uk-icon="search"></span><span class="uk-text-uppercase">Lets Golf</span></button>
                    </div>
                    <div class="uk-width-1-5@s uk-visible@s"></div>
                </div>
            </form>

        </div>

        <button class="quick-search-toggle uk-flex" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left, duration: 300"><span class="uk-light quick-search-toggle__text"><span><strong>Find</strong> Your<br> Holiday</span></span><span class="uk-light quick-search-toggle__icon"><span data-uk-icon="search"></span></span></button>

        <a class="scroll-to" href="#section-blog" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

    	<section class="uk-section section-blog" id="section-blog" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

            <div class="uk-container uk-position-relative">

                <div class="uk-flex uk-flex-middle title">

                    <div class="uk-text-muted-light uk-text-left uk-width-1-3@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>

                </div>

                <div class="blog-article">

                    <div class="uk-text-center">

                        <h2>{{ entry.title }}</h2>

                        {% if entry.subHeading|length %}

                        	<h3>{{ entry.subHeading }}</h3>

                        {% endif %}

                        <div class="blog-article__date">{{ entry.postDate|date('d.m.y') }}</div>

                        {% if entry.intro|length %}

                        	<div class="blog-article__intro uk-margin-bottom">

                        		{{ entry.intro }}

                        	</div>

                        {% endif %}

                    </div>

                    <div class="blog-article__body">

                        {{ entry.copy }}

                    </div>

                    {% if entry.gallery|length %}

                    	<ul class="uk-grid uk-grid-medium uk-child-width-1-1 uk-child-width-1-3@s uk-margin-large-top uk-margin-large-bottom">

                    		{% for asset in entry.gallery.all() %}

                    			<li class="uk-margin-medium-bottom">

		                            <img src="{{ asset.getUrl() }}" srcset="{{ asset.getUrl() }} 2x" alt="{{ asset.title }}" />

		                        </li>
                    			
                    		{% endfor %}

	                    </ul>

                    {% endif %}

                    <div class="blog-article__social uk-margin-medium-bottom">

                        <h2 class="uk-margin-bottom">Share this blog</h2>

                        <div class="uk-margin-bottom">

                            <ul class="uk-flex uk-flex-middle uk-flex-wrap social">

                                <li class="social__item">

                                    <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="twitter"></span></a>

                                </li>

                                <li class="social__item">

                                    <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="youtube"></span></a>

                                </li>

                                <li class="social__item">

                                    <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="instagram"></span></a>

                                </li>

                                <li class="social__item">

                                    <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="facebook"></span></a>

                                </li>

                            </ul>

                        </div>

                    </div>

                    <div class="uk-text-center">

                        <a class="uk-button uk-button-large slider-blogs__more" href="{{ url(craft.app.request.segments|first) }}">Back to All</a>

                    </div>

                </div>

            </div>

        </section>
        
        <a class="scroll-to" href="#scrollTo--1" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

        {% if blogContentBlocks.contentBlocks|length %}

        	{% set entry = blogContentBlocks %}

        		{# Content Blocks #}

	    	{% include '_inc/_content-blocks' %}

        {% endif %}

        {# Search Banner #}

        {% include '_inc/_quick-search' %}

    </main>

{% endblock %}