mixin blog-item
    li
        a(href="#").blog
            .blog__image.uk-background-muted
                img(src="img/offer.jpg" alt="imgAlt" width="356" height="228")
            .blog__detail
                span.blog__date.uk-text-emphasis 22.04.19
                p How to get the most from your golf holiday

mixin section-blogs
    section.uk-section(data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;")
        .uk-container
            .uk-text-center
                h2 Golf Shop Blog

            .slider-blogs(data-uk-slider='')
                .uk-position-relative
                    .uk-slider-container
                        ul.uk-slider-items.uk-grid.uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-3@s')
                            +blog-item
                            +blog-item
                            +blog-item
                            +blog-item
                    .uk-flex.uk-flex-center
                        a.uk-button-square.uk-background-muted.uk-text-primary.slider-blogs__arrow(href='#' data-uk-slider-item='previous' class="uk-hidden@m")
                            span(data-uk-icon="arrow-left")
                        a.uk-button-square.uk-background-muted.uk-text-primary.slider-blogs__arrow(href='#' data-uk-slider-item='next' class="uk-hidden@m")
                            span(data-uk-icon="arrow-right")

            .uk-text-center
                a(href="#").uk-button.uk-button-large.slider-blogs__more View more Blogs