{#:::: Modal - Recruiter Login ::::#}

<div id="modal-recruiter-login" class="uk-flex-top modal-general login" uk-modal>

    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="general-form">

            <div class="form-title">

                <h2>Recruiter Login</h2>

            </div>

            <div class="form-block">

                <form method="post" action="https://www.logicmelon.com/Account/Logon" target="_blank">

                    <div class="error-block uk-flex">

                        <div class="img-error">

                            <img src="assets/img/exclamation_mark.svg" alt="">

                        </div>

                        <div class="text">

                            <p>Username or password not recognised Would you like to <a href="https://www.logicmelon.com/Account/ForgotPassword#main-menu">Reset Password</a>?</p>

                        </div>

                    </div>

                    <div uk-grid class="uk-grid-small">

                        <div class="uk-width-1-1@m">

                            <div class="g-form-el">

                                <input class="uk-input" type="text" name="username" placeholder="Username">

                                <span></span>

                            </div>

                        </div>

                        <div class="uk-width-1-1@m">

                            <div class="g-form-el">

                                <input class="uk-input" type="passowrd" name="password" placeholder="Password">

                                <span></span>

                                {# <button class="eye" uk-toggle="cls:open-pass"></button> #}

                            </div>

                            <div class="forgot-password">

                                <a href="https://www.logicmelon.com/Account/ForgotPassword#main-menu">Forgot password?</a>

                            </div>

                        </div>

                        <div class="uk-width-1-1">

                            <div class="g-form-el">

                                <button type="submit" class="submit-btn">Login</button>

                            </div>  

                        </div>

                    </div>

                </form>

            </div>

        </div>

    </div>

</div>