{#:::: Modal - Register CV ::::#}

<div id="modal-jobseeker-signup" class="uk-flex-top modal-general" uk-modal>
    
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
        
        <img src="assets/img/only-takes.svg" alt="" class="cta-image">
        
        <button class="uk-modal-close-default" type="button" uk-close></button>
        
        <div class="general-form">
            
            <div class="form-title">
                
                <h2>Apply now</h2>
                
            </div>
            
            <div class="form-block">
                
                <form action="">
                    
                    <div class="title">
                        
                        <p>
                            
                            Not seeing the right role for you?
                            
                            <span>Sign up</span> below and we will get in touch!
                            
                            All your detail will be confidential.
                            
                        </p>
                        
                    </div>
                    
                    <div uk-grid class="uk-grid-small">
                        
                        <div class="uk-width-1-1@m">
                            
                            <div class="g-form-el">
                                
                                <input class="uk-input error" type="text" name="first-name" placeholder="First Name">
                                
                                <span></span>
                                
                            </div>
                            
                        </div>
                        
                        <div class="uk-width-1-1@m">
                            
                            <div class="g-form-el">
                                
                                <input class="uk-input" type="text" name="second-name" placeholder="Second Name">
                                
                                <span></span>
                                
                            </div>
                            
                        </div>
                        
                        <div class="uk-width-1-1@m">
                            
                            <div class="g-form-el">
                                
                                <input class="uk-input" type="email" name="email" placeholder="Email Address">
                                
                                <span></span>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                    <div class="title uk-visible@s">
                        
                        <p>Upload your CV</p>
                        
                    </div>
                    
                    <div uk-grid class="uk-grid-small">
                        
                        <div class="uk-width-1-1">
                            
                            <div class="g-form-el">
                                
                                <div class="js-upload uk-placeholder uk-text-center uk-flex uk-flex-middle">
                                    
                                    <span uk-icon="icon: cloud-upload"></span>
                                    
                                    <span class="uk-text-middle">Attach binaries by dropping them here or
                                        
                                            <div uk-form-custom>
                                                
                                                <input type="file" multiple>
                                                
                                                <span class="uk-link">selecting one</span>
                                                
                                            </div>
                                            
                                    </span>
                                    
                                </div>
                                
                                <progress id="js-progressbar" class="uk-progress" value="0" max="100" hidden></progress>
                                
                            </div>
                            
                        </div>
                        
                        <div class="uk-width-1-1">
                            
                            <div class="g-form-el">
                                
                                <label><input class="uk-checkbox" type="checkbox"> <span>By choosing to continue you will register your CV with Cambridge Network Limited. We will use your contact information to send you relevant jobs that match your criteria. All CV’s will be viewable across the Cambridge Network Limited.</span></label>
                                
                            </div>  
                            
                        </div>
                        
                        <div class="uk-width-1-1">
                            
                            <div class="g-form-el">
                                
                                <label><input class="uk-checkbox" type="checkbox"> <span>I acknowledge and give permission for my data to be held by Cambridge Network Limited in accordance with the <a href="#">General Data Protection Regulation</a></span></label>
                                
                            </div>  
                            
                        </div>
                        
                        <div class="uk-width-1-1">
                            
                            <div class="g-form-el">
                                
                                <button type="submit" class="submit-btn">Register</button>
                                
                            </div>  
                            
                        </div>
                        
                    </div>
                    
                </form>
                
            </div>
            
        </div>
        
    </div>
    
</div>
