extends ./templates/_base-template
include ./components/section-blogs/section-blogs
include ./components/section-booking/section-booking
include ./components/section-clients/section-clients
include ./components/section-fast-choice/section-fast-choice
include ./components/section-follow-us/section-follow-us
include ./components/section-intro/section-intro
include ./components/section-links/section-links
include ./components/section-newsletter/section-newsletter
include ./components/section-offers/section-offers
include ./components/section-popular/section-popular
include ./components/section-search/section-search
include ./components/section-tours/section-tours
include ./components/scroll-to/scroll-to

prepend head
    - var pageTitle = 'Homepage';

block content
    main.main
        +section-intro
        +section-search
        +scroll-to("#section-booking")
        +section-booking
        +scroll-to("#section-offers")
        +section-offers
        +scroll-to("#section-tours")
        +section-tours
        +section-fast-choice
        +section-popular
        +section-follow-us
        +section-newsletter
        +section-links
        +section-clients
        +section-blogs