{% spaceless %}

{#:::: Meta ::::#}

{% set metaTitle = "" %}
{% set metaDescription = "" %}
{% set sharingTitle = "" %}
{% set sharingDescription = "" %}
{% set sharingImgUrl = "" %}

{# Meta Title #}

{% if metaTitleOveride is defined and metaTitleOveride|length %}

    {% set metaTitle = metaTitleOveride %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set metaTitle = entry.seoMetaTitle %}

{% else %}

    {% set metaTitle = defaultMetaData.seoMetaTitle %}

{% endif %}

{# Meta Description #}

{% if metaDescOveride is defined and metaDescOveride|length %}

    {% set metaDescription = metaDescOveride %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set metaDescription = entry.seoMetaDescription %}

{% else %}

    {% set metaDescription = defaultMetaData.seoMetaDescription %}

{% endif %}

{# Sharing Title #}

{% if sharingTitleOveride is defined and sharingTitleOveride|length %}

    {% set sharingTitle = sharingTitleOveride %}

{% elseif entry.sharingTitle is defined and entry.sharingTitle|length %}

    {% set sharingTitle = entry.sharingTitle %}

{% elseif entry.seoMetaTitle is defined and entry.seoMetaTitle|length %}

    {% set sharingTitle = entry.seoMetaTitle %}

{% else %}

    {% set sharingTitle = defaultSharingData.sharingTitle %}

{% endif %}

{# Sharing Description #}

{% if sharingDescOveride is defined and sharingDescOveride|length %}

    {% set sharingDescription = sharingDescOveride %}

{% elseif entry.sharingDescription is defined and entry.sharingDescription|length %}

    {% set sharingDescription = entry.sharingDescription %}

{% elseif entry.seoMetaDescription is defined and entry.seoMetaDescription|length %}

    {% set sharingDescription = entry.seoMetaDescription %}

{% else %}

    {% set sharingDescription = defaultSharingData.sharingDescription %}

{% endif %}

{# Sharing Image #}

{% if sharingImageOveride is defined and sharingImageOveride|length %}

    {% set sharingImgUrl = sharingImageOveride %}

{% elseif entry.sharingImage is defined and entry.sharingImage|length %}

    {% set ogImage = entry.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% elseif defaultSharingData.sharingImage is defined and defaultSharingData.sharingImage|length %}

    {% set ogImage = defaultSharingData.sharingImage.one() %}

    {% set sharingImgUrl = ogImage.getUrl() %}

{% endif %}

{% endspaceless %}


<!DOCTYPE html>
<html lang="en">

<head>
    {% spaceless %}

    {#:::: Google Tag Manager ::::#}

    {% if tagManager.tagManagerJavascript|length %}

        {{ tagManager.tagManagerJavascript|raw }}

    {% endif %}

    {% endspaceless %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ metaDescription }}">
    <meta name="author" content="{{ siteName }}">
    <meta name="copyright" content="{{ siteName }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url('favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url('android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="256x256" href="{{ url('android-chrome-256x256.png') }}">
    <link rel="manifest" href="{{ url('site.webmanifest') }}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#21A04F">
    <meta name="msapplication-navbutton-color" content="#21A04F">
    <link href="{{ url('assets/css/main.css?v=3') }}" rel="stylesheet">
    <link href="{{ url('assets/css/wip.css?v=2') }}" rel="stylesheet">

    {#:::: Open Graphs ::::#}

    <meta property="og:title" content="{{ sharingTitle }}">
    <meta property="og:description" content="{{ sharingDescription }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ craft.app.request.absoluteUrl }}">
    <meta property="og:image" content="{{ sharingImgUrl }}">
    <meta property="og:locale" content="en_GB">

</head>

<body class="app{% if templateName %} {{ templateName }}{% endif %}" style="visibility: hidden;">

    {#:::: Google Tag Manager ::::#}

    {% if tagManager.tagManagerNoscript|length %}

        {{ tagManager.tagManagerNoscript|raw }}

    {% endif %}

    <div class="main-container">

        {#:::: Header ::::#}

        {% include '_global/_header' %}
        
        {#:::: Main Content Block ::::#}

        {% block content %}

            

        {% endblock %}
        
        {#:::: Footer ::::#}

        {% include '_global/_footer' %}

        {#:::: Modals ::::#}

        <div id="modal-contact" data-uk-modal="">

            <div class="uk-modal-dialog uk-modal-body">

                <h2 class="uk-modal-title">Headline</h2>

                <p></p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<p class="uk-text-right"></p>

            </div>

        </div>

        <div id="modal-enquire" data-uk-modal="">

            <div class="uk-modal-dialog uk-modal-body">

                <button class="uk-modal-close-default" type="button"><span data-uk-icon="close"></span></button>

                {% set holidayTitle = "" %}

                {% if entry.section == "Holidays" %}

                    {% set holidayTitle = entry.title %}

                {% endif %}

                {{ craft.freeform.form("getInTouch",{
                    overrideValues: {
                        holiday: holidayTitle
                    }
                }).render() }}

                {# <form class="uk-form">
                
                    <div class="uk-text-center">

                        <h2>Get in Touch</h2>

                        <h3 class="uk-text-emphasis">If your interested in a package or need a call back to discuss your requirements just fill in your details below</h3>

                    </div>

                    <div class="uk-flex-center uk-margin-bottom" data-uk-grid>

                        <div class="uk-width-1-1 uk-width-1-2@s">

                            <input class="uk-input" type="text" name="username" placeholder="Name">

                        </div>

                        <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input" type="email" name="usermail" placeholder="Email Address"></div>

                        <div class="uk-width-1-1"><textarea class="uk-textarea" name="usermessage" cols="30" rows="5" placeholder="I’m Interested in..."></textarea></div>

                    </div>

                    <div class="uk-text-center uk-margin-bottom"><label><span class="uk-margin-right">Request a call back please tick here?</span><input class="uk-checkbox" type="checkbox" checked=""></label></div>

                    <div class="uk-flex-center" data-uk-grid>

                        <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input uk-text-center" type="tel" name="usertel" placeholder="Telephone Number"></div>

                        <div class="uk-text-center uk-margin-bottom"><label><input class="uk-checkbox" type="checkbox" checked=""><span class="uk-text-small uk-margin-left">I agree to the terms and conditions laid out in the Privacy Policy *</span></label></div>

                    </div>

                    <div class="uk-form-submit">

                        <button class="uk-button uk-button-default" type="submit" name="submit">Submit</button>

                    </div>

                </form> #}

            </div>

        </div>

        <div id="modal-location" data-uk-modal="">

            <div class="uk-modal-dialog uk-modal-body">

                <h2>Location</h2>

            </div>

        </div>

    </div>

    {#:::: JavaScript ::::#}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit.min.js"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.2.0/js/uikit-icons.min.js"></script> #}

    <script src="{{ url('assets/js/app.js') }}"></script>

    <script>

        $(window).on("load", function (e) {

            $('.app').addClass('loaded');

            window.csrfTokenName = "{{ craft.app.config.general.csrfTokenName|e('js') }}";
            window.csrfTokenValue = "{{ craft.app.request.csrfToken|e('js') }}";

        });

    </script>

    {#:::: Injected JavaScript ::::#}

    {{ endBody() }}

</body>

</html>