{#:::: Home Page Template ::::#}

{% extends "_layout" %}

{% set templateName = "temp-home" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{#:::: Main Block Content ::::#}

{% block content %}

	<main class="main">

		{#:::: Content Blocks ::::#}

	    {% include '_inc/_content-blocks' %}


		{# <section class="uk-section section-offers" id="section-offers">
		
				    <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <div class="uk-flex uk-flex-middle title">
		
				            <div class="uk-text-muted uk-text-left uk-width-1-3@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>
		
				            <div class="uk-flex uk-flex-center uk-width-expand@s">
		
				                <h2 class="uk-margin-remove-bottom">Latest offers</h2>
		
				            </div>
		
				            <div class="uk-text-right uk-width-1-3@s uk-visible@s">
		
				                <button class="uk-button uk-button-default uk-button-medium"><span data-uk-icon="search"></span><span class="uk-text-uppercase">Search</span></button>
		
				            </div>
		
				        </div>
		
				        <div class="swiper-container slider-offers">
		
				            <div class="swiper-wrapper">
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				                <div class="swiper-slide">
		
				                    <a class="offer" href="#">
		
				                        <h3 class="offer__title uk-text-uppercase">Vila sol vilamoura</h3>
		
				                        <div class="offer__image">
		
				                            <img src="/assets/img/offer.jpg" alt="imgAlt" />
		
				                        </div>
		
				                        <div class="offer__detail">
		
				                            <p>3 NIGHTS / 3 RNDS</p>
		
				                            <p>HALF BOARD</p><strong class="uk-text-emphasis">£159</strong>
		
				                        </div>
		
				                    </a>
		
				                </div>
		
				            </div>
		
				        </div>
		
				        <a class="swiper-button-next uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-right"></span></a>
		
				        <a class="swiper-button-prev uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-left"></span></a>
		
				    </div>
		
				</section>
		
				<a class="scroll-to" href="#section-tours" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>
		
				<section class="uk-section section-tours" id="section-tours">
		
				    <div class="uk-container uk-container-expand" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <div class="uk-text-center">
		
				            <h2>Specialist Tours</h2>
		
				        </div>
		
				        <div class="slider-tours" data-uk-slider="">
		
				            <div class="uk-position-relative">
		
				                <div class="uk-slider-container">
		
				                    <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-1 uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-3@l uk-child-width-1-4@xl">
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li class="tour uk-light">
		
				                            <a class="tour__link uk-display-block" href="#">
		
				                                <img class="tour__image" src="/assets/img/tour.jpg" alt="imgAlt" />
		
				                                <div class="tour__inner">
		
				                                    <h3 class="tour__name">Rocky Mountain Canada</h3>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                    </ul>
		
				                </div>
		
				                <div class="uk-hidden@l">
		
				                    <a class="uk-position-center-left-out uk-position-small uk-button-square slider-tours__prev" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>
		
				                    <a class="uk-position-center-right-out uk-position-small uk-button-square slider-tours__next" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>
		
				                </div>
		
				            </div>
		
				        </div>
		
				    </div>
		
				</section>
		
				<section class="uk-section section-fast-choice uk-background-primary">
		
				    <div class="uk-container uk-position-relative" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <div class="uk-flex uk-flex-middle uk-light title">
		
				            <div class="uk-width-1-5@s uk-visible@s"><span data-uk-icon="logo-mini"></span></div>
		
				            <div class="uk-flex uk-flex-center uk-width-expand@s">
		
				                <h2 class="uk-margin-remove-bottom">Fast Choice</h2>
		
				            </div>
		
				            <div class="uk-width-1-5@s uk-visible@s">
		
				                <div class="uk-text-center section-fast-choice__ask uk-visible@xl">Ask Sten</div>
		
				            </div>
		
				        </div>
		
				        <div class="uk-flex-center uk-grid-match uk-grid-small section-fast-choice__grid" data-uk-grid="data-uk-grid">
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="">Luxury holidays</a>
		
				            </div>
		
				        </div>
		
				        <div class="uk-text-center uk-margin-top uk-light">
		
				            <a class="link-more" href="#" title="Link to more choices">+ More</a>
		
				        </div>
		
				        <img class="uk-visible@xl section-fast-choice__image" src="/assets/img/sten.png" srcset="/assets/img/sten@2x.png 2x" alt="Ask Sten" />
		
				    </div>
		
				</section>
		
				<section class="uk-section uk-background-cover section-popular" style="background-image: url(img/popular.jpg)" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				    <div class="uk-container">
		
				        <div class="uk-flex-center" data-uk-grid="data-uk-grid">
		
				            <div class="uk-width-1-2@l">
		
				                <div class="section-popular__destinations">
		
				                    <h2 class="uk-text-center section-popular__title">Popular Destinations</h2>
		
				                    <ul class="country-list" data-uk-grid="data-uk-grid">
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>UK</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>PORTUGAL</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>UAE</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>MOROCCO</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>TURKEY</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>SPAIN</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>MARITIUS</span></li>
		
				                        <li class="country-list__item uk-width-1-2@s">
		
				                            <img class="country-list__icon" src="/assets/img/uk.png" alt="uk flag" /><span>SOUTH AFRICA</span></li>
		
				                    </ul>
		
				                </div>
		
				            </div>
		
				            <div class="uk-width-1-2@l">
		
				                <div class="section-popular__discount-wrap">
		
				                    <div class="section-popular__discount">
		
				                        <h2 class="uk-text-center section-popular__title">Group Discount</h2>
		
				                    </div>
		
				                    <div class="clearfix">
		
				                        <a class="uk-background-primary uk-padding-small uk-text-center section-popular__discount-link section-popular__discount-link--primary" href="#">
		
				                            <h3>Early Chip in</h3>
		
				                            <p>Book early & SAVE</p>
		
				                        </a>
		
				                        <a class="uk-background-warning uk-padding-small uk-text-center section-popular__discount-link section-popular__discount-link--warning" href="#">
		
				                            <h3>Get £25 off</h3>
		
				                            <p>Your next golf holiday</p>
		
				                        </a>
		
				                        <a class="uk-background-secondary uk-padding-small uk-text-center section-popular__discount-link section-popular__discount-link--secondary" href="#">
		
				                            <h3>Gain Loyalty</h3>
		
				                            <p>Loyalty points with us</p>
		
				                        </a>
		
				                    </div>
		
				                </div>
		
				            </div>
		
				        </div>
		
				    </div>
		
				    <a class="scroll-to scroll-to--inverse" href="#section-newsletter" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>
		
				</section>
		
				<section class="section-follow-us" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				    <div class="uk-container uk-position-relative uk-background-secondary">
		
				        <div data-uk-grid="data-uk-grid">
		
				            <div class="uk-width-1-2@s uk-width-1-2@l">
		
				                <div class="uk-flex uk-flex-center uk-flex-middle uk-light">
		
				                    <div class="uk-margin-right"><span class="section-follow-us__icon" data-uk-icon="logo-mini-2"></span></div>
		
				                    <div>
		
				                        <div>Follow us & get connected</div>
		
				                        <div>Call. <a href="tel:000000000000" class="section-follow-us__tel">00000 0000000</a>
		
				                        </div>
		
				                    </div>
		
				                </div>
		
				            </div>
		
				            <div class="section-follow-us__social uk-width-1-3@s uk-width-1-2@l">
		
				                <ul class="uk-flex uk-flex-middle uk-flex-wrap social">
		
				                    <li class="social__item">
		
				                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="twitter"></span></a>
		
				                    </li>
		
				                    <li class="social__item">
		
				                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="youtube"></span></a>
		
				                    </li>
		
				                    <li class="social__item">
		
				                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="instagram"></span></a>
		
				                    </li>
		
				                    <li class="social__item">
		
				                        <a class="social__link" href="#" target="_blank" rel="noopener noreferrer"><span class="social__icon" data-uk-icon="facebook"></span></a>
		
				                    </li>
		
				                </ul>
		
				            </div>
		
				        </div>
		
				    </div>
		
				</section>
		
				<section class="uk-section uk-background-muted" id="section-newsletter">
		
				    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <form class="uk-form uk-position-relative uk-overflow-hidden uk-background-default uk-padding form-newsletter" action="#">
		
				            <div class="form-newsletter__inner">
		
				                <a class="uk-form-ribbon uk-background-primary uk-light" href="#">20% off</a>
		
				                <div class="uk-title uk-text-center">
		
				                    <h2>Newsletter Sign up</h2>
		
				                    <h3 class="uk-text-emphasis">Obtain a 20% off code</h3>
		
				                    <p>when you sign up for the latest news and all the latest offers and deals</p>
		
				                </div>
		
				                <div class="uk-flex-center uk-grid-match uk-margin-bottom" data-uk-grid="data-uk-grid">
		
				                    <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input" type="text" name="username" placeholder="Name" /></div>
		
				                    <div class="uk-width-1-1 uk-width-1-2@s"><input class="uk-input" type="email" name="usermail" placeholder="Email Address" /></div>
		
				                </div>
		
				                <div class="uk-text-center uk-margin-bottom"><label><input class="uk-checkbox" type="checkbox" checked="" /><span class="uk-text-small uk-margin-small-left">I agree to the terms and conditions laid out in the Privacy Policy *</span></label></div>
		
				                <div class="uk-text-center">
		
				                    <button class="uk-button uk-button-default uk-button-large form-newsletter__submit" type="submit">Submit</button>
		
				                </div>
		
				            </div>
		
				        </form>
		
				    </div>
		
				</section>
		
				<div class="uk-section uk-background-dark section-links">
		
				    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <div class="uk-grid-small" data-uk-grid="data-uk-grid">
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				            <div class="uk-width-1-1 uk-width-1-2@s uk-width-1-3@m uk-width-1-4@l">
		
				                <a class="uk-background-default link-button" href="#">Why book with us</a>
		
				            </div>
		
				        </div>
		
				    </div>
		
				</div>
		
				<section class="uk-section uk-background-secondary">
		
				    <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				        <div class="uk-text-center uk-light">
		
				            <h2>What our clients say</h2>
		
				        </div>
		
				        <div class="slider-clients uk-position-relative" data-uk-slider="data-uk-slider">
		
				            <ul class="uk-slider-items uk-child-width-1-1">
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				                <li>
		
				                    <div class="uk-grid-large" data-uk-grid="data-uk-grid">
		
				                        <div class="uk-width-1-1 uk-width-1-2@m">
		
				                            <img class="slider-clients__image" src="/assets/img/clients.jpg" srcset="/assets/img/clients@2x.jpg 2x" alt="client" />
		
				                        </div>
		
				                        <div class="uk-light uk-width-1-1 uk-width-1-2@m">
		
				                            <h3>Location: Spain | No of people 16</h3>
		
				                            <p>Sertae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad mioluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntet dolore magnam aliquam quaerat voluptatem. Ut enim ad minima venia.</p>
		
				                            <p>Suia consequuntet dolore magnam aliquam quaerat voluptatem</p>
		
				                        </div>
		
				                    </div>
		
				                </li>
		
				            </ul>
		
				            <div class="uk-flex uk-flex-center uk-flex-middle slider-clients__controls">
		
				                <a class="uk-button-square slider-clients__arrow" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>
		
				                <ul class="uk-slider-nav uk-dotnav uk-flex-center"></ul>
		
				                <a class="uk-button-square slider-clients__arrow" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>
		
				            </div>
		
				        </div>
		
				    </div>
		
				</section>
		
				<section class="uk-section" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">
		
				    <div class="uk-container">
		
				        <div class="uk-text-center">
		
				            <h2>Golf Shop Blog</h2>
		
				        </div>
		
				        <div class="slider-blogs" data-uk-slider="">
		
				            <div class="uk-position-relative">
		
				                <div class="uk-slider-container">
		
				                    <ul class="uk-slider-items uk-grid uk-grid-medium uk-child-width-1-1 uk-child-width-1-3@s">
		
				                        <li>
		
				                            <a class="blog" href="#">
		
				                                <div class="blog__image uk-background-muted">
		
				                                    <img src="/assets/img/offer.jpg" alt="imgAlt" width="356" height="228" />
		
				                                </div>
		
				                                <div class="blog__detail"><span class="blog__date uk-text-emphasis">22.04.19</span>
		
				                                    <p>How to get the most from your golf holiday</p>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li>
		
				                            <a class="blog" href="#">
		
				                                <div class="blog__image uk-background-muted">
		
				                                    <img src="/assets/img/offer.jpg" alt="imgAlt" width="356" height="228" />
		
				                                </div>
		
				                                <div class="blog__detail"><span class="blog__date uk-text-emphasis">22.04.19</span>
		
				                                    <p>How to get the most from your golf holiday</p>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li>
		
				                            <a class="blog" href="#">
		
				                                <div class="blog__image uk-background-muted">
		
				                                    <img src="/assets/img/offer.jpg" alt="imgAlt" width="356" height="228" />
		
				                                </div>
		
				                                <div class="blog__detail"><span class="blog__date uk-text-emphasis">22.04.19</span>
		
				                                    <p>How to get the most from your golf holiday</p>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                        <li>
		
				                            <a class="blog" href="#">
		
				                                <div class="blog__image uk-background-muted">
		
				                                    <img src="/assets/img/offer.jpg" alt="imgAlt" width="356" height="228" />
		
				                                </div>
		
				                                <div class="blog__detail"><span class="blog__date uk-text-emphasis">22.04.19</span>
		
				                                    <p>How to get the most from your golf holiday</p>
		
				                                </div>
		
				                            </a>
		
				                        </li>
		
				                    </ul>
		
				                </div>
		
				                <div class="uk-flex uk-flex-center">
		
				                    <a class="uk-button-square uk-background-muted uk-text-primary slider-blogs__arrow uk-hidden@m" href="#" data-uk-slider-item="previous"><span data-uk-icon="arrow-left"></span></a>
		
				                    <a class="uk-button-square uk-background-muted uk-text-primary slider-blogs__arrow uk-hidden@m" href="#" data-uk-slider-item="next"><span data-uk-icon="arrow-right"></span></a>
		
				                </div>
		
				            </div>
		
				        </div>
		
				        <div class="uk-text-center">
		
				            <a class="uk-button uk-button-large slider-blogs__more" href="#">View more Blogs</a>
		
				        </div>
		
				    </div>
		
				</section> #}

	</main>

    {#:::: <div class="uk-container">

		<section class="container-white homepage">

			Search Banner

			{% if entry.searchBanner|length %}

				{% include '_inc/_blocks/_search-banner' %}

			{% endif %} ::::#}

			{#:::: Content Blocks

    		{% include '_inc/_content-blocks' %}

		</section>

	</div> ::::#}

{% endblock %}