{#:::: Holiday Page Template ::::#}

{% extends "_layout" %}

{% set templateName = "temp-default" %}

{% if entry.noFollow|length %}

    {% set noFollow = entry.noFollow %}

{% endif %}

{% block content %}

    <main class="main">

        <section class="uk-section uk-background-secondary uk-position-relative section-details-header" data-uk-sticky="data-uk-sticky" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false;">

            <div class="uk-container">

                <div class="uk-flex uk-flex-between uk-flex-bottom">

                    <div class="uk-flex uk-flex-wrap">

                        {% spaceless %}

                            {% if entry.holidayType|length %}

                                <a href="{{ url('holidays' ~ '?location=&type=' ~ entry.holidayType.one().slug ~'&group=') }}"><strong>{{ entry.holidayType.one().title }}</strong></a>

                            {% endif %}

                            {% if entry.location|length %}

                                &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

                                {% set locations = entry.location.all() %}

                                {% for location in locations %}

                                    <span><a href="{{ url('holidays' ~ '?location=' ~ location.slug ~ '&type=&group=') }}">{{ location.title }}</a></span>

                                    {% if not loop.last %}

                                        &nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;

                                    {% endif %}

                                {% endfor %}

                            {% endif %}
                        
                        {% endspaceless %}

                    </div>

                    <span class="section-details-header__icon uk-visible@m" data-uk-icon="logo-mini"></span>

                </div>

                {% include '_inc/_enquire-now' %}

            </div>

        </section>

        <section class="uk-section section-details-content">

            <div class="details-content">

                <button class="quick-search-toggle uk-flex" data-uk-toggle="target: #quick-search; animation: uk-animation-slide-left, duration: 300"><span class="uk-light quick-search-toggle__text"><span><strong>Find</strong> Your<br> Holiday</span></span><span class="uk-light quick-search-toggle__icon"><span data-uk-icon="search"></span></span></button>

                <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                    <div data-uk-grid="data-uk-grid">

                        <div class="uk-width-expand@s">

                            <div class="details-content__header uk-flex uk-flex-wrap">

                                <h2>{{ entry.title }}</h2>

                                {% if entry.description|length %}

                                    {{ entry.description }}

                                {% endif %}

                            </div>

                        </div>

                        <div class="uk-text-center uk-width-1-4@s">

                            <button class="uk-button uk-button-default uk-button-medium" data-uk-toggle="target: #modal-enquire">Book Now</button>

                        </div>

                    </div>

                    <div data-uk-grid="data-uk-grid">

                        <div class="uk-width-expand@m">

                            {% if entry.gallery|length %}

                                {% set large = {
                                    mode: 'crop',
                                    width: 847,
                                    height: 540,
                                    quality: 75,
                                    position: 'center-center'
                                } %}

                                {% set thumb = {
                                    mode: 'crop',
                                    width: 128,
                                    height: 85,
                                    quality: 75,
                                    position: 'center-center'
                                } %}

                                {% set assets = entry.gallery.all() %}

                                <div class="slider-details" data-uk-slider="">

                                    <div class="uk-position-relative">

                                        <div class="uk-slider-container">

                                            <ul class="uk-slider-items">

                                                {% for asset in assets %}

                                                    <li>

                                                        <img src="{{ asset.getUrl(large) }}" alt="{{ asset.title }}">

                                                    </li>
                                                    
                                                {% endfor %}

                                            </ul>

                                        </div>

                                    </div>

                                    <ul class="uk-grid-small" uk-grid>

                                        {% for asset in assets %}

                                            <li class="uk-width-1-3 uk-width-1-4@s uk-width-1-4@m uk-width-1-4@l uk-width-1-6@xl{% if loop.first %} uk-active{% endif %}" data-uk-slider-item="{{ loop.index0 }}">

                                                <a href="#">

                                                    <img src="{{ asset.getUrl(thumb) }}" alt="{{ asset.title }}">

                                                </a>

                                            </li>

                                        {% endfor %}

                                    </ul>

                                </div>

                            {% else %}

                                <div class="slider-details" data-uk-slider="">

                                    <div class="uk-position-relative">

                                        <div class="uk-slider-container">

                                            <ul class="uk-slider-items">

                                                <li> 

                                                    <img src="{{ url('uploads/holidays/portugal/lisbon/aroeira-i-hole-4-2012.jpg') }}" alt="Golf Holiday Shop Placeholder">

                                                </li>

                                            </ul>

                                        </div>

                                    </div>

                                </div>

                            {% endif %}  

                        </div>

                        <div class="details-content__sidebar uk-width-1-3@m">

                            <div class="details-content__actions">

                                {% if entry.videoLink|length %}

                                    {# {{ entry.videoLink }} #}

                                    <div class="uk-flex uk-flex-middle uk-flex-column"><strong class="uk-margin-small-bottom uk-text-center">Watch the video</strong>

                                        <button class="uk-button-square uk-background-primary uk-light" data-uk-toggle="target: #modal-video"><span data-uk-icon="video"></span></button>

                                    </div>

                                    <div id="modal-video" data-uk-modal>

                                        <div class="uk-modal-dialog uk-margin-auto-vertical">

                                            <button class="uk-modal-close-outside" type="button" data-uk-close></button>

                                            <div class="iframe-container">

                                                <iframe class="iframe-video" src="{{ entry.videoLink }}" data-uk-video="automute: true"></iframe>
                                                    
                                            </div>

                                        </div>

                                    </div>

                                {% endif %}

                                {% if entry.locationMap|length %}

                                    <div class="uk-flex uk-flex-middle uk-flex-column"><strong class="uk-margin-small-bottom uk-text-center">View Location</strong>

                                        <a href="{{ entry.locationMap }}" target="_blank" class="uk-button-square uk-background-primary uk-light"><span data-uk-icon="location"></span></a>

                                    </div>

                                {% endif %}
                                    
                            </div>

                            <div class="uk-flex uk-flex-middle uk-flex-column uk-margin-top details-content__social">

                                <p class="uk-text-emphasis">Share with others</p>

                                <div class="details-content__share">

                                    <ul class="uk-flex uk-flex-middle uk-flex-wrap social">

                                        <li class="social__item">

                                            <button class="social__link"><span class="social__icon" data-uk-icon="twitter"></span></button>

                                        </li>

                                        <li class="social__item">

                                            <button class="social__link"><span class="social__icon" data-uk-icon="youtube"></span></button>

                                        </li>

                                        <li class="social__item">

                                            <button class="social__link"><span class="social__icon" data-uk-icon="instagram"></span></button>

                                        </li>

                                        <li class="social__item">

                                            <button class="social__link"><span class="social__icon" data-uk-icon="facebook"></span></button>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="details-content__info">

                    <div class="uk-container-expand uk-background-muted">

                        <div class="details-content__anchors uk-flex uk-flex-wrap">

                            <a class="details-content__anchor" href="#details-packages" data-uk-scroll="data-uk-scroll" title="Scroll to Packages">Packages</a>

                            <a class="details-content__anchor" href="#details-overview" data-uk-scroll="data-uk-scroll" title="Scroll to Overview">Overview</a>

                            <a class="details-content__anchor" href="#details-courses" data-uk-scroll="data-uk-scroll" title="Scroll to Courses">Courses</a>

                            <a class="details-content__anchor" href="#details-accomodation" data-uk-scroll="data-uk-scroll" title="Scroll to Accomodation">Accomodation</a>

                        </div>

                        {% if entry.overviewText|length %}

                            <section class="uk-section uk-background-muted details-content__info-item" id="details-overview" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                                <div class="uk-container">

                                    {{ entry.overviewText }}

                                </div>

                            </section>

                        {% endif %}

                        <a class="scroll-to" href="#details-courses" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

                    </div>

                    {% if entry.coursesText|length or entry.coursesText|length %}

                        <div class="uk-container-expand uk-background-default">

                            {% if entry.coursesText|length %}

                                <section class="uk-section details-content__info-item" id="details-courses" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                                    <div class="uk-container">

                                        <h2>Courses</h2>

                                        {{ entry.coursesText }}

                                    </div>

                                </section>

                            {% endif %}

                            {% if entry.accommodationText|length %}

                                <section class="uk-section details-content__info-item uk-padding-remove-top" id="details-accomodation" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                                    <div class="uk-container">

                                        <img class="details-content__info-icon" src="/assets/img/logo-mini-color.svg" alt="" />

                                        <h2>Accommodation</h2>

                                        {{ entry.accommodationText }}

                                    </div>

                                </section>

                            {% endif %}

                            <a class="scroll-to" href="#details-packages" data-uk-icon="arrow-down" data-uk-scroll="data-uk-scroll" title="Scroll to next section"></a>

                        </div>

                    {% endif %}

                    {% if entry.ourPackages|length %}

                        <div class="uk-container-expand uk-background-secondary">

                            <section class="uk-section section-packages" id="details-packages" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                                <div class="uk-container">

                                    <div class="uk-flex uk-flex-between uk-flex-middle uk-light section-packages__header">

                                        <h2>Our Packages</h2>

                                        {% if phoneNumber.phoneNumber|length %}

                                            <span class="section-packages__call">Call: <a href="tel:{{ phoneNumber.phoneNumber }}">{{ phoneNumber.phoneNumber }}</a></span>

                                        {% endif %}

                                    </div>

                                    {% set packages = entry.ourPackages.all() %}

                                    {% for package in packages %}

                                        <div class="section-packages__item uk-position-relative uk-background-default{% if not loop.last %}  uk-margin-large-bottom{% endif %}">

                                            <div class="section-packages__item-inner">

                                                {% if package.heading|length %}

                                                    <div class="uk-margin-bottom"><strong>{{ package.heading }}</strong></div>

                                                {% endif %}

                                                {% if package.includes|length or package.dates|length %}

                                                    <div data-uk-grid="data-uk-grid">

                                                        {% if package.includes|length %}

                                                            <div class="uk-width-1-2@s">

                                                                {{ package.includes }}

                                                            </div>

                                                        {% endif %}

                                                        {% if package.dates|length %}

                                                            <div class="uk-width-1-2@s">

                                                                {{ package.dates }}

                                                                {# <strong>DEAL DATES:</strong>
                            
                                                                <ul>

                                                                    <li>

                                                                        <div class="uk-flex uk-flex-between uk-flex-middle"><span class="uk-margin-small-right">1ST MARCH - 30TH APRIL</span><strong class="uk-text-emphasis">FROM £285</strong></div>

                                                                    </li>

                                                                    <li>1st MAY - 30TH JUNE<div class="uk-flex uk-flex-between uk-flex-middle"><span class="uk-margin-small-right">1ST MARCH - 30TH APRIL</span><strong class="uk-text-emphasis">FROM £285</strong></div>

                                                                    </li>

                                                                    <li>16TH SEPT - 31ST OCT<div class="uk-flex uk-flex-between uk-flex-middle"><span class="uk-margin-small-right">1ST MARCH - 30TH APRIL</span><strong class="uk-text-emphasis">FROM £285</strong></div>

                                                                    </li>

                                                                </ul> #}

                                                            </div>

                                                        {% endif %}

                                                    </div>

                                                {% endif %}

                                                

                                            </div>

                                            <div class="section-packages__enquire uk-text-center">

                                                <button class="uk-button uk-button-default" data-uk-toggle="target: #modal-enquire">Book this package</button>

                                            </div>

                                        </div>
                                        
                                    {% endfor %}    

                                        

                                </div>

                            </section>

                        </div>

                    {% endif %}

                    {% if entry.locationIframe|length %}

                        <div class="uk-container-expand uk-background-muted">

                            <section class="uk-section" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                                <div class="uk-container">

                                    <h2 class="uk-text-center">Location</h2>

                                    <div id="map" class="uk-text-center">

                                        {{ entry.locationIframe|raw }}

                                    </div>

                                </div>

                            </section>

                        </div>

                    {% endif %}

                    {% if entry.relatedPackages|length %}

                        {% set holidays = entry.relatedPackages.all() %}

                        <div class="uk-container" data-uk-scrollspy="cls: fadeInUp animated; delay: 250; repeat: false; offset-top: -250;">

                            <section class="uk-section section-other-packages section-offers">

                                <div class="uk-container uk-position-relative">

                                    <h2 class="uk-text-center">Other packages</h2>

                                    <div class="swiper-container slider-other-packages uk-margin-bottom" uk-height-match=".offer__detail">

                                        <div class="swiper-wrapper" uk-height-match=".offer__title">

                                            {% set blockClasses = "swiper-slide" %}

                                            {% for holiday in holidays %}

                                                {% include 'holiday/_inc/_holiday' with { holiday : holiday, blockClasses : blockClasses } %}
                                                
                                            {% endfor %}

                                        </div>

                                    </div>

                                    <a class="swiper-button-next uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-right"></span></a>

                                    <a class="swiper-button-prev uk-button-square uk-background-muted" href="#"><span data-uk-icon="arrow-left"></span></a>

                                </div>

                            </section>

                        </div>

                    {% endif %}    

                </div>

            </div>

        </section>

        {# Search Banner #}

        {% include '_inc/_quick-search' %}
        
        {# Content Blocks #}

        {% include '_inc/_content-blocks' %}

    </main>

{% endblock %}