html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    background-color: @global-background;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    min-height: 100%;
    font-family: @global-font-family;
    .font-size(16);
    line-height: @global-line-height;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    &.is-menu-open {
        overflow: hidden;
    }
}

a {
    transition-duration: @global-transition-duration;

    &:hover,
    &:focus,
    &:active {
        transition-duration: @global-transition-duration;
    }
}

h1,
h2,
h3,
h4 {
    margin-top: 0;
}

h1 {
    font-weight: 900;

    @media (min-width: @breakpoint-medium) {
        .font-size(50);
    }
}

h2 {
    font-weight: 600;
    .font-size(20);
    margin-bottom: 32px;

    @media (min-width: @breakpoint-medium) {
        .font-size(35);
    }
}

h3 {
    font-weight: 600;

    @media (min-width: @breakpoint-medium) {
        .font-size(22);
    }
}

p {
    margin-top: 0;
}

strong {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    fill: currentColor;

    &:not(:root) {
        overflow: hidden;
    }
}

// Init mixins
.sticky-footer();
