// Mixins

// .opacity(VALUE);

.opacity(@opacity : .5) {
-webkit-opacity : @opacity;
-moz-opacity : @opacity;
opacity : @opacity; }

// .box-sizing(VALUE); (border-box, padding-box, content-box)

.box-sizing(@boxsize: border-box) {
-webkit-box-sizing : @boxsize;
-moz-box-sizing : @boxsize;
-ms-box-sizing : @boxsize;
box-sizing : @boxsize; }

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);

.transition(@transition) {
-webkit-transition : @transition;
-moz-transition : @transition;
-ms-transition : @transition;
-o-transition : @transition;
transition : @transition; }

// .box-shadow(HORIZONTAL VERTICAL BLUR COLOR))

.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
-webkit-box-shadow : @shadow;
-moz-box-shadow : @shadow;
box-shadow : @shadow; }

// Font Size

.font-size(@font-size: 16) {
    @rem: (@font-size / 10);
    font-size : @font-size * 1px;
    font-size : ~"@{rem}rem";
}

// UIKit

@inverse-global-muted-color : @text-colour;
@inverse-global-color : @text-colour;

@import "../../../src/less/components/variables.less";
@import "../../../src/less/components/pagination.less";

// Colours 

@global-green : #21A04F;
@white : #fff;
@accent-red : #F05D5E;
@text-colour : #36434b;

// Breakpoints

@breakpoint-xsmall:                            640px;
@breakpoint-small:                             768px;  // Phone landscape
@breakpoint-medium:                            960px;  // Tablet Landscape
@breakpoint-large:                             1200px; // Desktop
@breakpoint-xlarge:                            1440px; // Large Screens

@breakpoint-xsmall-max:                        (@breakpoint-small - 1);
@breakpoint-small-max:                         (@breakpoint-medium - 1);
@breakpoint-medium-max:                        (@breakpoint-large - 1);
@breakpoint-large-max:                         (@breakpoint-xlarge - 1);

// Additional Styling

.app {
	visibility: hidden;
	.opacity(0);
	.transition(opacity 0.5s);

	&.loaded {
		.opacity(1);
		visibility: visible !important;
	}
}

#map {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;

	iframe {
		position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border: 0;
	}
}

.search-results {

	em {
		color: @global-green;
	}
}

.section-details-header {

	a {
		color: @white;

		&:hover {
			text-decoration: underline;
		}
	}
}

.help-block {
	margin-top: 10px;
	display: block;

	&.form-error {
		color: @accent-red;
	}
}

ul.errors {
	list-style: none;
	margin: 10px 0 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		color: @accent-red;
	}
}

.uk-input, .uk-textarea {

	&:required:focus {
		.box-shadow(none);
	}

	&:required:invalid {
		.box-shadow(none);
		//color: @accent-red;
		//border: 1px solid @accent-red;
	}

	&:required:focus:invalid {
		.box-shadow(none);

	}

	&:required:valid {
		background: @white;
		color: @global-green;
		border: 1px solid @global-green;
		.box-shadow(none);
	}

	&:required:focus:valid {
		.box-shadow(none);
	}

	&.error {
		color: @accent-red;
		border: 1px solid @accent-red;
	}
}

.uk-checkbox {

	&:required:invalid {
		.box-shadow(none);
		//border: 1px solid @accent-red;
	}

	&.error {
		color: @accent-red;
		border: 1px solid @accent-red;
	}
}

.section-intro-landing__title {
	//min-width: auto;
	//width: auto;
}

.tour__name {
	word-break: normal;
}

.button--no-results {
	width: auto;
	max-width: none;
}

// Plain Text

.section-text {

	h1 {

	}

	h2 {
		margin: 0 0 20px;
	}

	h3 {

	}

	h4, h5, h6 {
		.font-size(14);
		margin: 0 0 20px;
		font-weight: 600;
	}

	em, i {
		color: @text-colour;
	}

	a {
		color: @global-green;
		text-decoration: underline;

		&:hover {
			color: @global-green;
			text-decoration: none;
		}
	}

	@media (min-width: @breakpoint-xsmall) {
        


    }

	@media (min-width: @breakpoint-small) {
        


    }

    @media (min-width: @breakpoint-medium) {
        
    	h4 {
			.font-size(20);
		}

		h5, h6 {
			.font-size(18);
		}
    }

    @media (min-width: @breakpoint-large) {
        


    }

    @media (min-width: @breakpoint-xlarge) {
       


    }
}

// Pagination

.pagination {

	.pagination-wrapper {

		ul {

			li {

				a {

				}

				&.uk-active {

				}
			}
		}
	}
}